Repository Purple-Magic/tramway: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

rubocop:
  tags: backend style
  run: bundle exec rubocop --force-exclusion {all_files}

eslint:
  tags: frontend style
  run: make eslint

Fix chat helper stubs in specs
  spec/components/tramway/chat_component_spec.rb
  spec/tramway/helpers/views_helpers/tramway_chat_spec.rb
Due: rubocop

Fix chat helper stubs in specs (#166)
  spec/components/tramway/chat_component_spec.rb
  spec/tramway/helpers/views_helpers/tramway_chat_spec.rb
Due: rubocop

Fix turbo stream helper stubs in specs
  spec/rails_helper.rb
  spec/support/turbo_stream_from_helper.rb
Due: rubocop

Run CI checks on pull requests
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

Escape slashes in class selector helper
  spec/support/theme_helper.rb
Due: rubocop

Codex-generated pull request (#167)
  .github/workflows/lint.yml
  .github/workflows/test.yml
  spec/rails_helper.rb
  spec/support/theme_helper.rb
  spec/support/turbo_stream_from_helper.rb
Due: rubocop

Rubocop fixes
  spec/support/turbo_stream_from_helper.rb
Due: rubocop

Chat component (#164)
  .github/workflows/lint.yml
  .github/workflows/test.yml
  README.md
  app/components/tramway/chat_component.html.haml
  app/components/tramway/chat_component.rb
  app/components/tramway/chats.rb
  app/components/tramway/chats/message_component.html.haml
  app/components/tramway/chats/message_component.rb
  app/components/tramway/chats/messages/container_component.html.haml
  app/components/tramway/chats/messages/container_component.rb
  app/components/tramway/chats/messages/table_component.html.haml
  app/components/tramway/chats/messages/table_component.rb
  app/components/tramway/native_text_component.html.haml
  app/components/tramway/native_text_component.rb
  config/locales/en.yml
  config/tailwind.config.js
  docs/AGENTS.md
  lib/tramway/helpers/views_helper.rb
  spec/components/tramway/chat_component_spec.rb
  spec/components/tramway/chats/message_component_spec.rb
  spec/components/tramway/chats/messages/table_component_spec.rb
  spec/rails_helper.rb
  spec/support/theme_helper.rb
  spec/support/turbo_stream_from_helper.rb
  spec/tramway/helpers/views_helpers/tramway_chat_spec.rb
Due: rubocop, eslint

Bump version to 2.3
  lib/tramway/version.rb
Due: rubocop

Updates
  app/components/tramway/table/cell_component.html.haml
  app/components/tramway/table/cell_component.rb
  app/components/tramway/table/header_cell_component.html.haml
  app/components/tramway/table/header_cell_component.rb
  app/components/tramway/table/header_component.html.haml
  app/components/tramway/table/header_component.rb
  app/components/tramway/table/row_component.rb
  app/components/tramway/table_component.rb
  config/tailwind.config.js
  lib/tramway/helpers/views_helper.rb
Due: rubocop, eslint

AGENTS.md: Add Rule 29
  docs/AGENTS.md
Due: none

Update AGENTS.md
  docs/AGENTS.md
Due: none

Update chat style
  app/components/tramway/chat_component.html.haml
Due: none

Safelist min-w-0 for chat full-space layout
  app/components/tramway/chat_component.html.haml
  config/tailwind.config.js
  spec/components/tramway/chat_component_spec.rb
Due: rubocop, eslint

Fix chat
  app/components/tramway/chat_component.html.haml
Due: none

Safelist min-w-0 for chat full-space layout (#168)
  app/components/tramway/chat_component.html.haml
  config/tailwind.config.js
  spec/components/tramway/chat_component_spec.rb
Due: rubocop, eslint

Use CSS-only default scroll behavior for Tramway chat
  README.md
  app/components/tramway/chat_component.html.haml
  spec/components/tramway/chat_component_spec.rb
Due: rubocop

Use CSS-only default scroll behavior for Tramway chat (#169)
  README.md
  app/components/tramway/chat_component.html.haml
  spec/components/tramway/chat_component_spec.rb
Due: rubocop

Update README
  README.md
Due: none

Linkify and shorten URLs in chat messages
  app/components/tramway/chats/messages/container_component.html.haml
  app/components/tramway/native_text_component.html.haml
  app/components/tramway/native_text_component.rb
  spec/components/tramway/chats/message_component_spec.rb
Due: rubocop

Fix HTML escaping in linkified chat text
  app/components/tramway/native_text_component.rb
Due: rubocop

Replace chat Stimulus autoscroll with inline JavaScript
  app/components/tramway/chat_component.html.haml
  spec/components/tramway/chat_component_spec.rb
Due: rubocop

Replace chat Stimulus autoscroll with inline JavaScript (#171)
  app/components/tramway/chat_component.html.haml
  spec/components/tramway/chat_component_spec.rb
Due: rubocop

Style chat links and remove linkify option
  app/components/tramway/chats/messages/container_component.html.haml
  app/components/tramway/native_text_component.rb
  spec/components/tramway/chats/message_component_spec.rb
Due: rubocop

Adjust URL shortening length for chat link spec
  app/components/tramway/native_text_component.rb
Due: rubocop

Linkify and shorten URLs in chat messages (#170)
  app/components/tramway/native_text_component.html.haml
  app/components/tramway/native_text_component.rb
  spec/components/tramway/chats/message_component_spec.rb
Due: rubocop

Update tialwind.config.js
  config/tailwind.config.js
Due: eslint

Add chat broadcast append helper and message partial
  app/views/tramway/chats/_message.html.haml
  lib/tramway/chats/broadcast.rb
  spec/lib/tramway/chats/broadcast_spec.rb
Due: rubocop

AGENTS.md: Add Rule 31 for tramway object creation
  docs/AGENTS.md
Due: none

Add chats broadcast append_message support
  app/views/tramway/chats/_message.html.haml
  lib/tramway.rb
  lib/tramway/chats/broadcast.rb
  spec/tramway/chats/broadcast_spec.rb
Due: rubocop

Rename chat append method and include broadcast in controllers/models
  lib/tramway/chats/broadcast.rb
  lib/tramway/engine.rb
  spec/tramway/chats/broadcast_spec.rb
Due: rubocop

Add chat_id argument to tramway_chat_append_message
  lib/tramway/chats/broadcast.rb
  spec/tramway/chats/broadcast_spec.rb
Due: rubocop

Fix
  app/components/tramway/chat_component.html.haml
Due: none

Document tramway_chat_append_message usage for chat broadcasting
  README.md
  docs/AGENTS.md
Due: none

Fix undefined broadcast_append_to with Turbo Streams fallback
  lib/tramway/chats/broadcast.rb
  spec/tramway/chats/broadcast_spec.rb
Due: rubocop

Use Turbo Streams channel as default chat broadcaster
  lib/tramway/chats/broadcast.rb
  spec/tramway/chats/broadcast_spec.rb
Due: rubocop

Upgrade broadcast
  lib/tramway/chats/broadcast.rb
Due: rubocop

Add Tramway::Chats::Broadcast `append_message` and message partial (#173)
  README.md
  app/views/tramway/chats/_message.html.haml
  docs/AGENTS.md
  lib/tramway.rb
  lib/tramway/chats/broadcast.rb
  lib/tramway/engine.rb
  spec/tramway/chats/broadcast_spec.rb
Due: rubocop

Clear Tramway chat input after submit
  app/components/tramway/chat_component.html.haml
Due: none

Path conditions:
  rubocop: any of: *.rb
  eslint: any of: *.js
