Repository Purple-Magic/tramway: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

lefthook.yml:

pre-commit:
  commands:
    rubocop:
      tags: backend style
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {all_files}
    eslint:
      tags: frontend style
      glob: "*.js"
      run: make eslint

Fix
  app/components/tramway/table/row_component.html.haml
Due: none

Update README.md
  README.md
Due: none

Rich text area works fine
  app/assets/javascripts/tramway/tramway.js
  app/components/tramway/form/builder.rb
  app/components/tramway/form/rich_text_area_component.html.haml
  app/components/tramway/form/rich_text_area_component.rb
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/entities/edit.html.haml
  app/views/tramway/entities/new.html.haml
  app/views/tramway/layouts/application.html.haml
  config/tailwind.config.js
  lib/generators/tramway/install/install_generator.rb
  lib/tramway/base_form.rb
  spec/components/tramway/form/builder_spec.rb
  spec/components/tramway/form/rich_text_area_component_spec.rb
  spec/features/entities/update_spec.rb
  spec/forms/base_form_spec.rb
  spec/tramway/generators/install_generator_spec.rb
Due: rubocop, eslint

Add rich_text_area (#193)
  README.md
  app/components/tramway/form/builder.rb
  app/components/tramway/form/rich_text_area_component.html.haml
  app/components/tramway/form/rich_text_area_component.rb
  app/components/tramway/table/row_component.html.haml
  app/views/tramway/layouts/application.html.haml
  config/tailwind.config.js
  lib/generators/tramway/install/install_generator.rb
  lib/tramway/utils/field.rb
  spec/components/tramway/form/builder_spec.rb
  spec/components/tramway/form/rich_text_area_component_spec.rb
  spec/tramway/generators/install_generator_spec.rb
Due: rubocop, eslint

Bump version to 3.1.2
  lib/tramway/version.rb
Due: rubocop

Update native_text and date_picker
  README.md
  app/components/tramway/form/date_field_component.html.haml
  app/components/tramway/form/date_field_component.rb
  app/components/tramway/form/datetime_field_component.html.haml
  app/components/tramway/form/datetime_field_component.rb
  app/components/tramway/native_text_component.html.haml
  config/tailwind.config.js
  spec/components/tramway/form/builder_spec.rb
  spec/components/tramway/native_text_component_spec.rb
Due: rubocop, eslint

Update version.rb
  lib/tramway/version.rb
Due: rubocop

Fix entity CRUD
  app/controllers/tramway/entities_controller.rb
Due: rubocop

Fix including jhs
  app/views/tramway/layouts/application.html.haml
Due: none

Update navbar
  app/components/tramway/nav/item_component.rb
  app/components/tramway/navbar_component.html.haml
  app/components/tramway/navbar_component.rb
  config/tailwind.config.js
  spec/components/tramway/navbar_component_spec.rb
Due: rubocop, eslint

Update buttons color
  app/components/tramway/form/builder.rb
  app/views/tramway/entities/_form.html.haml
  spec/components/tramway/form/builder_spec.rb
Due: rubocop

Updates for actions columns and checkboxes
  README.md
  app/assets/javascripts/tramway/tramway.js
  app/components/tailwind_component.rb
  app/components/tramway/form/checkbox_component.html.haml
  app/components/tramway/form/checkbox_component.rb
  app/components/tramway/table/cell_component.html.haml
  app/components/tramway/table/cell_component.rb
  app/components/tramway/table/header_component.html.haml
  app/components/tramway/table/header_component.rb
  config/locales/en.yml
  config/tailwind.config.js
  lib/tramway/base_decorator.rb
  lib/tramway/helpers/views_helper.rb
  spec/components/tramway/form/builder_spec.rb
  spec/features/form_for/base_spec.rb
  spec/tramway/helpers/views_helpers/tramway_cell_spec.rb
  spec/tramway/helpers/views_helpers/tramway_table_spec.rb
Due: rubocop, eslint

Update version
  lib/tramway/version.rb
Due: rubocop

Fix checkbox styling
  README.md
  app/assets/javascripts/tramway/tramway.js
  app/components/tailwind_component.rb
  app/components/tramway/form/checkbox_component.rb
  spec/components/tramway/form/builder_spec.rb
  spec/features/form_for/base_spec.rb
Due: rubocop, eslint

Added hint for Tramway Form components
  README.md
  app/components/tailwind_component.rb
  app/components/tramway/form/builder.rb
  app/components/tramway/form/checkbox_component.html.haml
  app/components/tramway/form/date_field_component.html.haml
  app/components/tramway/form/datetime_field_component.html.haml
  app/components/tramway/form/file_field_component.html.haml
  app/components/tramway/form/number_field_component.html.haml
  app/components/tramway/form/rich_text_area_component.html.haml
  app/components/tramway/form/select_component.html.haml
  app/components/tramway/form/text_area_component.html.haml
  app/components/tramway/form/text_field_component.html.haml
  app/components/tramway/form/time_field_component.html.haml
  app/components/tramway/form/tramway_select_component.html.haml
  docs/AGENTS.md
  spec/components/tramway/form/builder_spec.rb
Due: rubocop

Fix show associations
  README.md
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/entities/show.html.haml
  spec/controllers/tramway/entities_controller_spec.rb
  spec/features/entities/show_spec.rb
Due: rubocop

Fix Tramway Decorator logic
  README.md
  app/controllers/tramway/entities_controller.rb
  lib/tramway/base_decorator.rb
  lib/tramway/decorators/show_associations.rb
  spec/dummy/app/models/post.rb
  spec/tramway/decorators/show_associations_spec.rb
Due: rubocop

Fix tramway_flash
  app/components/tramway/flash_component.html.haml
Due: none

Handle stale multiselect selections
  README.md
  app/assets/javascripts/tramway/tramway.js
  lib/tramway/version.rb
  spec/dummy/app/views/users/new.html.haml
  spec/features/tramway_select/multiple_spec.rb
  spec/support/web_driver_helper.rb
Due: rubocop, eslint

Navbar update
  AGENTS.md
  CLAUDE.md
  README.md
  app/assets/javascripts/tramway/tramway.js
  app/components/tramway/navbar_component.html.haml
  app/components/tramway/navbar_component.rb
  config/tailwind.config.js
  lib/generators/tramway/install/install_generator.rb
  lib/tramway/helpers/navbar_helper.rb
  lib/tramway/navbar.rb
  spec/components/tramway/navbar_component_spec.rb
  spec/dummy/app/controllers/navbar_test_controller.rb
  spec/dummy/app/javascript/controllers/index.js
  spec/dummy/app/views/navbar_test/show.html.haml
  spec/dummy/config/routes.rb
  spec/features/navbar_layout_spec.rb
  spec/helpers/navbar_helper_spec.rb
  spec/tramway/generators/install_generator_spec.rb
Due: rubocop, eslint

Vertical navbar
  CLAUDE.md
  README.md
  app/assets/javascripts/tramway/tramway.js
  app/assets/stylesheets/font-awesome.css
  app/components/tramway/containers/main_component.rb
  app/components/tramway/containers/narrow_component.rb
  app/components/tramway/nav/item_component.rb
  app/components/tramway/navbar_component.html.haml
  app/components/tramway/navbar_component.rb
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/layouts/application.html.haml
  config/tailwind.config.js
  lib/generators/tramway/install/install_generator.rb
  lib/generators/tramway/install/layout_helpers.rb
  lib/tramway/engine.rb
  lib/tramway/helpers/navbar_helper.rb
  lib/tramway/helpers/views_helper.rb
  spec/components/tramway/containers/main_component_spec.rb
  spec/components/tramway/navbar_component_spec.rb
  spec/dummy/app/javascript/controllers/index.js
  spec/dummy/config/environments/test.rb
  spec/features/navbar/collapse_expand_spec.rb
  spec/helpers/navbar_helper_spec.rb
  spec/initializers/tramway_assets_spec.rb
  spec/rails_helper.rb
  spec/tramway/generators/install_generator_spec.rb
  spec/tramway/helpers/views_helpers/tramway_main_container_spec.rb
  tramway.gemspec
Due: rubocop, eslint

Vertical Navbar works
  .rubocop.yml
  .tool-versions
  README.md
  app/assets/javascripts/tramway/tramway.js
  app/components/tramway/navbar_component.html.haml
  app/components/tramway/navbar_component.rb
  config/tailwind.config.js
  lib/generators/tramway/install/font_awesome_helpers.rb
  lib/generators/tramway/install/install_generator.rb
  lib/generators/tramway/install/layout_helpers.rb
  lib/tramway/helpers/navbar_helper.rb
  lib/tramway/helpers/views_helper.rb
  package.json
  spec/components/tramway/navbar_component_spec.rb
  spec/features/navbar/collapse_expand_spec.rb
  spec/helpers/navbar_helper_spec.rb
  spec/initializers/tramway_assets_spec.rb
  spec/tramway/engine_asset_paths_spec.rb
  spec/tramway/helpers/views_helpers/tramway_main_container_spec.rb
Due: rubocop, eslint

Many updates
  README.md
  app/components/tramway/grid/card_component.html.haml
  app/components/tramway/grid/card_component.rb
  app/components/tramway/grid_component.html.haml
  app/components/tramway/grid_component.rb
  config/tailwind.config.js
  docs/users/tramway_grid.md
  lib/tramway/helpers/views_helper.rb
  spec/components/tramway/grid/card_component_spec.rb
  spec/components/tramway/grid_component_spec.rb
  spec/tramway/helpers/views_helpers/tramway_grid_spec.rb
Due: rubocop, eslint

Many updates
  README.md
  app/components/tramway/grid/card_component.rb
  app/components/tramway/grid_component.html.haml
  app/components/tramway/grid_component.rb
  app/components/tramway/table/cell_component.rb
  app/components/tramway/table/header_component.rb
  app/components/tramway/table/row_component.rb
  app/components/tramway/table_component.rb
  config/tailwind.config.js
  lib/tramway/helpers/table_helper.rb
  lib/tramway/helpers/views_helper.rb
  spec/components/tramway/grid/card_component_spec.rb
  spec/components/tramway/grid_component_spec.rb
  spec/components/tramway/table/cell_component_spec.rb
  spec/components/tramway/table/header_component_spec.rb
  spec/components/tramway/table/row_component_spec.rb
  spec/components/tramway/table_component_spec.rb
  spec/features/table/base_spec.rb
  spec/tramway/helpers/views_helpers/tramway_table_spec.rb
Due: rubocop, eslint

Many updates
  app/assets/builds/tailwind.css
  app/assets/tailwind/application.css
  app/components/tramway/chat_component.html.haml
  lib/generators/tramway/install/install_generator.rb
  lib/tramway/helpers/table_helper.rb
  spec/components/tramway/chat_component_spec.rb
  spec/components/tramway/table/cell_component_spec.rb
  spec/dummy/app/assets/tailwind/application.css
  spec/tramway/generators/install_generator_spec.rb
Due: rubocop

Add more skills
  .agents/skills/animate-expo/RECIPES.md
  .agents/skills/animate-expo/SKILL.md
  .agents/skills/animate/RECIPES.md
  .agents/skills/animate/SKILL.md
  .agents/skills/animation-vocabulary/SKILL.md
  .agents/skills/apple-design/SKILL.md
  .agents/skills/ask-sonner/API.md
  .agents/skills/ask-sonner/SKILL.md
  .agents/skills/emil-design-eng/SKILL.md
  .agents/skills/find-animation-opportunities/SKILL.md
  .agents/skills/improve-animations/AUDIT.md
  .agents/skills/improve-animations/PLAN-TEMPLATE.md
  .agents/skills/improve-animations/SKILL.md
  .agents/skills/pick-ui-library/SKILL.md
  .agents/skills/prototype/PICKER.md
  .agents/skills/prototype/SKILL.md
  .agents/skills/review-animations/SKILL.md
  .agents/skills/review-animations/STANDARDS.md
  .agents/skills/write-swift/SKILL.md
  .claude/skills/animate
  .claude/skills/animate-expo
  .claude/skills/animation-vocabulary
  .claude/skills/apple-design
  .claude/skills/ask-sonner
  .claude/skills/emil-design-eng
  .claude/skills/find-animation-opportunities
  .claude/skills/improve-animations
  .claude/skills/pick-ui-library
  .claude/skills/prototype
  .claude/skills/review-animations
  .claude/skills/write-swift
  skills-lock.json
Due: none

Many updates
  .agents/skills/migrate-radix-to-base/SKILL.md
  .agents/skills/migrate-radix-to-base/class-mapping.md
  .agents/skills/migrate-radix-to-base/consumer-props.md
  .agents/skills/migrate-radix-to-base/disclosure.md
  .agents/skills/migrate-radix-to-base/display-misc.md
  .agents/skills/migrate-radix-to-base/form-controls.md
  .agents/skills/migrate-radix-to-base/menus.md
  .agents/skills/migrate-radix-to-base/overlays.md
  .agents/skills/migrate-radix-to-base/universal-patterns.md
  .agents/skills/migrate-radix-to-base/wrapper-shapes.md
  .agents/skills/shadcn/SKILL.md
  .agents/skills/shadcn/agents/openai.yml
  .agents/skills/shadcn/assets/shadcn-small.png
  .agents/skills/shadcn/assets/shadcn.png
  .agents/skills/shadcn/cli.md
  .agents/skills/shadcn/customization.md
  .agents/skills/shadcn/evals/evals.json
  .agents/skills/shadcn/mcp.md
  .agents/skills/shadcn/registry.md
  .agents/skills/shadcn/rules/base-vs-radix.md
  .agents/skills/shadcn/rules/chat.md
  .agents/skills/shadcn/rules/composition.md
  .agents/skills/shadcn/rules/forms.md
  .agents/skills/shadcn/rules/icons.md
  .agents/skills/shadcn/rules/styling.md
  .claude/skills/migrate-radix-to-base
  .claude/skills/shadcn
  README.md
  app/assets/javascripts/tramway/tramway.js
  app/components/tramway/navbar_component.rb
  app/views/tramway/layouts/application.html.haml
  config/tailwind.config.js
  lib/generators/tramway/install/install_generator.rb
  skills-lock.json
Due: rubocop, eslint

Bump to 4.0
  .github/workflows/rspec.yml
  Appraisals
  Gemfile
  README.md
  app/components/tramway/form/builder.rb
  app/components/tramway/native_text_component.rb
  config/routes.rb
  gemfiles/rails_7.0.gemfile
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  gemfiles/rails_8.1.gemfile
  lib/generators/tramway/install/install_generator.rb
  lib/tramway/forms/validations.rb
  lib/tramway/version.rb
  spec/components/tramway/chat_component_spec.rb
  spec/components/tramway/chats/messages/table_component_spec.rb
  spec/forms/base_form_spec.rb
  spec/forms/delegation_form_spec.rb
  spec/forms/inheritance_form_spec.rb
  spec/support/web_driver_helper.rb
  tramway.gemspec
Due: rubocop

Add pg_search-based entities#index search with clear infra errors
  .agents/create-instruction.md
  .agents/infra-dependent-features.md
  AGENTS.md
  CLAUDE.md
  README.md
  app/views/tramway/entities/_list.html.haml
  lib/tramway/errors.rb
  lib/tramway/pg_searchable.rb
  lib/tramway/searchable.rb
  spec/features/entities/search_spec.rb
  spec/requests/tramway/entities_search_spec.rb
  spec/tramway/pg_searchable_spec.rb
  tramway.gemspec
Due: rubocop

Auto-install pg_search and give a clear error when it can't be loaded
  README.md
  lib/generators/tramway/install/install_generator.rb
  lib/tramway/errors.rb
  lib/tramway/pg_searchable.rb
  spec/tramway/generators/install_generator_spec.rb
  spec/tramway/pg_searchable_spec.rb
Due: rubocop

Fix N+1 query issue
  app/controllers/tramway/entities_controller.rb
  lib/tramway/configs/entities/page.rb
  spec/dummy/config/initializers/tramway.rb
  spec/initializers/tramway_load_routes_spec.rb
  spec/requests/tramway/entities_index_includes_spec.rb
Due: rubocop

Make entities#index search button icon-only
  app/views/tramway/entities/_list.html.haml
  spec/rails_helper.rb
Due: rubocop
