Repository Purple-Magic/tramway: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

lefthook.yml:

pre-commit:
  commands:
    rubocop:
      tags: backend style
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {all_files}
    eslint:
      tags: frontend style
      glob: "*.js"
      run: make eslint

Release 2.2.3.1
  lib/tramway/version.rb
Due: rubocop

Fix submit button
  app/components/tailwinds/button_component.html.haml
  app/components/tailwinds/button_component.rb
  spec/components/tailwinds/button_component_spec.rb
Due: rubocop

Release 2.2.3.2
  lib/tramway/version.rb
Due: rubocop

Fix submit button
  app/components/tailwinds/form/builder.rb
  spec/components/tailwinds/form/builder_spec.rb
Due: rubocop

Release 2.2.3.3
  lib/tramway/version.rb
Due: rubocop

AGENTS.md: add Rule 26 for using service objects in controllers
  docs/AGENTS.md
Due: none

Update README.md
  README.md
Due: none

Release 2.2.4
  lib/tramway/version.rb
Due: rubocop

Fix tramway_cell_propagation
  app/components/tailwinds/table/cell_component.rb
  app/components/tailwinds/table/row_component.rb
  spec/components/tailwinds/button_component_spec.rb
Due: rubocop

Tramway Form fields inheritance
  lib/tramway/forms/fields.rb
  spec/dummy/app/forms/user_form.rb
  spec/forms/inheritance_form_spec.rb
Due: rubocop

Fix select types
  .rubocop.yml
  Makefile
  lib/tramway/utils/field.rb
  spec/dummy/app/forms/admin/post_form.rb
  spec/dummy/db/migrate/20240103082421_create_posts.rb
  spec/dummy/db/schema.rb
  spec/features/entities/create_spec.rb
  spec/features/entities/update_spec.rb
Due: rubocop

Update README to include fields in form inheritance
  README.md
Due: none

Fix forms and multiselect
  app/assets/javascripts/tramway/multiselect_controller.js
  app/components/tailwinds/form/multiselect/caret_down_component.html.haml
  app/components/tailwinds/form/multiselect/caret_down_component.rb
  app/components/tailwinds/form/multiselect/caret_up_component.html.haml
  app/components/tailwinds/form/multiselect/caret_up_component.rb
  app/components/tailwinds/form/multiselect_component.html.haml
  app/components/tailwinds/form/multiselect_component.rb
  lib/tramway/forms/properties.rb
  spec/forms/base_form_spec.rb
Due: rubocop, eslint

A lot of fixes for multiselect
  app/components/tailwinds/form/multiselect/dropdown_container.rb
  app/components/tailwinds/form/multiselect/dropdown_container_component.html.haml
  app/components/tailwinds/form/multiselect/dropdown_container_component.rb
  app/components/tailwinds/form/multiselect/item_container.rb
  app/components/tailwinds/form/multiselect/item_container_component.html.haml
  app/components/tailwinds/form/multiselect/item_container_component.rb
  app/components/tailwinds/form/multiselect/select_as_input_component.html.haml
  app/components/tailwinds/form/multiselect/select_as_input_component.rb
  app/components/tailwinds/form/multiselect/selected_item_template_component.html.haml
  app/components/tailwinds/form/multiselect/selected_item_template_component.rb
  app/components/tailwinds/form/multiselect_component.html.haml
  app/components/tailwinds/form/multiselect_component.rb
  config/tailwind.config.js
Due: rubocop, eslint

Updates for multiselet
  app/components/tailwind_component.rb
  app/components/tailwinds/form/multiselect/dropdown_container_component.rb
  app/components/tailwinds/form/multiselect/selected_item_template_component.html.haml
  app/components/tailwinds/form/multiselect/selected_item_template_component.rb
  app/components/tailwinds/form/multiselect_component.html.haml
  app/components/tailwinds/form/multiselect_component.rb
  config/tailwind.config.js
Due: rubocop, eslint

Finish fixing for large size
  config/tailwind.config.js
Due: eslint

Update for medium size
  app/components/tailwind_component.rb
  app/components/tailwinds/form/multiselect/caret_component.html.haml
  app/components/tailwinds/form/multiselect/caret_component.rb
  app/components/tailwinds/form/multiselect/caret_down_component.html.haml
  app/components/tailwinds/form/multiselect/caret_down_component.rb
  app/components/tailwinds/form/multiselect/caret_up_component.html.haml
  app/components/tailwinds/form/multiselect/caret_up_component.rb
  app/components/tailwinds/form/multiselect_component.html.haml
  config/tailwind.config.js
Due: rubocop, eslint

Fixes for medium size
  app/components/tailwind_component.rb
  app/components/tailwinds/form/multiselect/caret_component.rb
  config/tailwind.config.js
Due: rubocop, eslint

Fixes for small size
  app/components/tailwind_component.rb
  app/components/tailwinds/form/multiselect/caret_component.rb
  config/tailwind.config.js
Due: rubocop, eslint

Fix mobile version and style
  app/assets/javascripts/tramway/multiselect_controller.js
  app/components/tailwinds/form/multiselect_component.html.haml
  config/tailwind.config.js
Due: eslint

Many updates for tests
  app/components/tailwinds/form/multiselect/item_container_component.html.haml
  app/components/tailwinds/form/multiselect_component.html.haml
  spec/features/multiselect_input_spec.rb
  spec/rails_helper.rb
  spec/support/multiselect_helpers.rb
Due: rubocop

A lot of fixes for multiselect
  app/assets/javascripts/tramway/multiselect_controller.js
  app/components/tailwinds/form/multiselect/caret_component.rb
  app/components/tailwinds/form/multiselect/dropdown_container_component.rb
  app/components/tailwinds/form/multiselect/item_container_component.html.haml
  app/components/tailwinds/form/multiselect/item_container_component.rb
  app/components/tailwinds/form/multiselect/selected_item_template_component.rb
  app/components/tailwinds/form/multiselect_component.html.haml
  app/components/tailwinds/form/multiselect_component.rb
  lib/tramway/forms/properties.rb
  spec/dummy/app/assets/config/manifest.js
  spec/dummy/config/environments/development.rb
  spec/dummy/config/environments/production.rb
  spec/dummy/config/environments/test.rb
  spec/dummy/vendor/javascript/.keep
  spec/features/multiselect_input_spec.rb
  spec/forms/base_form_spec.rb
  spec/rails_helper.rb
  spec/support/multiselect_helpers.rb
  spec/support/web_driver_helper.rb
Due: rubocop, eslint

Fix CI
  .github/workflows/rspec.yml
Due: none

Multiselect fixes (#155)
  .github/workflows/rspec.yml
  app/assets/javascripts/tramway/multiselect_controller.js
  app/components/tailwind_component.rb
  app/components/tailwinds/form/multiselect/caret_component.html.haml
  app/components/tailwinds/form/multiselect/caret_component.rb
  app/components/tailwinds/form/multiselect/dropdown_container.rb
  app/components/tailwinds/form/multiselect/dropdown_container_component.html.haml
  app/components/tailwinds/form/multiselect/dropdown_container_component.rb
  app/components/tailwinds/form/multiselect/item_container.rb
  app/components/tailwinds/form/multiselect/item_container_component.html.haml
  app/components/tailwinds/form/multiselect/item_container_component.rb
  app/components/tailwinds/form/multiselect/select_as_input_component.html.haml
  app/components/tailwinds/form/multiselect/select_as_input_component.rb
  app/components/tailwinds/form/multiselect/selected_item_template.html.haml
  app/components/tailwinds/form/multiselect/selected_item_template.rb
  app/components/tailwinds/form/multiselect/selected_item_template_component.html.haml
  app/components/tailwinds/form/multiselect/selected_item_template_component.rb
  app/components/tailwinds/form/multiselect_component.html.haml
  app/components/tailwinds/form/multiselect_component.rb
  config/tailwind.config.js
  spec/dummy/app/assets/config/manifest.js
  spec/dummy/config/environments/development.rb
  spec/dummy/config/environments/production.rb
  spec/dummy/config/environments/test.rb
  spec/dummy/vendor/javascript/.keep
  spec/features/multiselect_input_spec.rb
  spec/rails_helper.rb
  spec/support/multiselect_helpers.rb
  spec/support/web_driver_helper.rb
Due: rubocop, eslint

Update version.rb
  lib/tramway/version.rb
Due: rubocop

Add importmap pin in tramway install
  lib/generators/tramway/install/install_generator.rb
Due: rubocop

Ensure importmap pin in install generator
  lib/generators/tramway/install/install_generator.rb
  spec/tramway/generators/install_generator_spec.rb
Due: rubocop

Fix rubocop
  spec/tramway/configs/entity_spec.rb
Due: rubocop

rubocop fix
  lib/generators/tramway/install/install_generator.rb
Due: rubocop

Fix
  spec/tramway/configs/entity_spec.rb
Due: rubocop

Add importmap pin to tramway install generator (#156)
  lib/generators/tramway/install/install_generator.rb
  spec/tramway/configs/entity_spec.rb
  spec/tramway/generators/install_generator_spec.rb
Due: rubocop

Add options to tramway_title
  app/components/tailwinds/title_component.html.haml
  app/components/tailwinds/title_component.rb
  lib/tramway/helpers/views_helper.rb
Due: rubocop

Release 2.2.5.1.
  lib/tramway/version.rb
Due: rubocop

Release 2.2.5.2
  app/components/tailwinds/flash_component.html.haml
  lib/tramway/version.rb
Due: rubocop

Release 2.2.5.3
  app/views/tramway/entities/_form.html.haml
  config/tailwind.config.js
  lib/tramway/version.rb
Due: rubocop, eslint

Fix show page
  app/views/tramway/entities/show.html.haml
Due: none

Release 2.2.5.4
  lib/tramway/version.rb
Due: rubocop

Add form validations support
  README.md
  docs/AGENTS.md
  lib/tramway/base_form.rb
  lib/tramway/forms/validations.rb
  spec/dummy/app/forms/admin_form.rb
  spec/dummy/app/forms/user_form.rb
  spec/forms/validations_form_spec.rb
Due: rubocop

Document ActiveModel validations and update specs
  README.md
  docs/AGENTS.md
  spec/forms/validations_form_spec.rb
Due: rubocop
