Repository Purple-Magic/tramway: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

lefthook.yml:

pre-commit:
  commands:
    rubocop:
      tags: backend style
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {all_files}
    eslint:
      tags: frontend style
      glob: "*.js"
      run: make eslint

Update AGENTS.md
  docs/AGENTS.md
Due: none

Bump version to 2.1.2.2
  lib/tramway/version.rb
Due: rubocop

Update generators with AGENTS.md stuff
  docs/AGENTS.md
  lib/generators/tramway/install/install_generator.rb
  spec/tramway/generators/install_generator_spec.rb
Due: rubocop

Release 2.1.3
  lib/tramway/version.rb
Due: rubocop

Fix buttons and generator
  app/components/tailwinds/button_component.rb
  config/tailwind.config.js
  lib/generators/tramway/install/install_generator.rb
Due: rubocop, eslint

Upgrade install_generator
  lib/generators/tramway/install/install_generator.rb
  spec/tramway/generators/install_generator_spec.rb
Due: rubocop

Release 2.1.3.1
  lib/tramway/version.rb
Due: rubocop

Release 2.1.3.2
  config/tailwind.config.js
  lib/tramway/version.rb
Due: rubocop, eslint

Update action implemented
  app/components/tramway/actions_buttons_container_component.html.haml
  app/components/tramway/actions_buttons_container_component.rb
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/entities/_form.html.haml
  app/views/tramway/entities/_list.html.haml
  app/views/tramway/entities/edit.html.haml
  app/views/tramway/entities/show.html.haml
  config/locales/en.yml
  config/routes.rb
  lib/tramway/configs/entity.rb
Due: rubocop

Destroy action implemented
  app/components/tramway/actions_buttons_container_component.html.haml
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/entities/show.html.haml
  config/locales/en.yml
  config/routes.rb
  lib/tramway/configs/entity.rb
Due: rubocop

Move edit and destroy buttons to the list
  app/components/tramway/entity_component.html.haml
  app/components/tramway/entity_component.rb
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/entities/_list.html.haml
  lib/tramway/base_decorator.rb
Due: rubocop

Fix tests
  spec/components/tramway/entity_component_spec.rb
Due: rubocop

Minor updates
  app/components/tailwinds/table/row_component.html.haml
  app/components/tailwinds/table/row_component.rb
  app/components/tramway/entity_component.rb
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/entities/_form.html.haml
  app/views/tramway/entities/_list.html.haml
  lib/tramway/base_decorator.rb
  lib/tramway/base_form.rb
  lib/tramway/configs/entity.rb
Due: rubocop

Fixes
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/entities/_list.html.haml
  app/views/tramway/entities/show.html.haml
  lib/tramway/base_decorator.rb
  spec/components/tramway/entity_component_spec.rb
Due: rubocop

Update tests and docs
  README.md
  config/locales/en.yml
  docs/AGENTS.md
  spec/dummy/config/initializers/tramway.rb
  spec/features/entities/destroy_spec.rb
  spec/features/entities/index_spec.rb
  spec/features/entities/show_spec.rb
  spec/features/entities/update_spec.rb
Due: rubocop

Fix test
  spec/initializers/tramway_load_routes_spec.rb
Due: rubocop

Fix test
  spec/features/entities/destroy_spec.rb
Due: rubocop

Fix tests
  spec/features/entities/index_spec.rb
  spec/features/entities/show_spec.rb
Due: rubocop

Fix tests
  spec/features/entities/index_spec.rb
Due: rubocop

Finish CRUD (#151)
  README.md
  app/components/tailwinds/table/row_component.html.haml
  app/components/tailwinds/table/row_component.rb
  app/components/tramway/actions_buttons_container_component.html.haml
  app/components/tramway/actions_buttons_container_component.rb
  app/components/tramway/entity_component.html.haml
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/entities/_form.html.haml
  app/views/tramway/entities/_list.html.haml
  app/views/tramway/entities/edit.html.haml
  app/views/tramway/entities/show.html.haml
  config/locales/en.yml
  config/routes.rb
  docs/AGENTS.md
  lib/tramway/base_decorator.rb
  lib/tramway/base_form.rb
  lib/tramway/configs/entity.rb
  spec/components/tramway/entity_component_spec.rb
  spec/dummy/config/initializers/tramway.rb
  spec/features/entities/destroy_spec.rb
  spec/features/entities/index_spec.rb
  spec/features/entities/show_spec.rb
  spec/features/entities/update_spec.rb
  spec/initializers/tramway_load_routes_spec.rb
Due: rubocop

Update version.rb
  lib/tramway/version.rb
Due: rubocop

Update README
  README.md
Due: none

Update styles
  app/components/tailwinds/table/header_component.rb
  config/tailwind.config.js
Due: rubocop, eslint

Update classic style
  app/components/tailwind_component.rb
  app/components/tailwinds/back_button_component.rb
  app/components/tailwinds/badge_component.rb
  app/components/tailwinds/button_component.rb
  app/components/tailwinds/containers/main_component.rb
  app/components/tailwinds/containers/narrow_component.rb
  app/components/tailwinds/flash_component.rb
  app/components/tailwinds/form/label_component.rb
  app/components/tailwinds/form/multiselect/dropdown_container.rb
  app/components/tailwinds/form/multiselect/item_container.rb
  app/components/tailwinds/form/multiselect/select_as_input.rb
  app/components/tailwinds/form/multiselect/selected_item_template.rb
  app/components/tailwinds/form/multiselect_component.rb
  app/components/tailwinds/nav/item_component.rb
  app/components/tailwinds/navbar_component.rb
  app/components/tailwinds/pagination/base.rb
  app/components/tailwinds/pagination/gap_component.rb
  app/components/tailwinds/pagination/page_component.rb
  app/components/tailwinds/table/cell_component.rb
  app/components/tailwinds/table/header_component.rb
  app/components/tailwinds/table/row/preview_component.rb
  app/components/tailwinds/table/row_component.rb
  app/components/tailwinds/table_component.rb
  app/components/tailwinds/title_component.rb
  config/tailwind.config.js
  spec/components/tailwinds/back_button_component_spec.rb
  spec/components/tailwinds/badge_component_spec.rb
  spec/components/tailwinds/button_component_spec.rb
  spec/components/tailwinds/form/builder_spec.rb
  spec/features/form_for/base_spec.rb
  spec/features/table/base_spec.rb
  spec/tramway/helpers/views_helpers/tramway_flash_spec.rb
  spec/tramway_spec.rb
Due: rubocop, eslint

Update styles
  README.md
  app/components/tailwind_component.rb
  app/components/tailwinds/button_component.rb
  app/components/tailwinds/containers/main_component.html.haml
  app/components/tailwinds/containers/main_component.rb
  app/components/tailwinds/form/label_component.rb
  app/components/tailwinds/form/number_field_component.html.haml
  app/components/tailwinds/form/submit_button_component.rb
  app/components/tailwinds/pagination/gap_component.rb
  config/tailwind.config.js
  lib/tramway/helpers/views_helper.rb
  spec/tramway/helpers/views_helpers/tramway_form_for_spec.rb
Due: rubocop, eslint

Fix
  app/components/tailwinds/form/file_field_component.html.haml
Due: none

Fix
  app/components/tailwinds/flash_component.rb
  config/tailwind.config.js
  spec/components/tailwinds/form/builder_spec.rb
  spec/tramway/helpers/views_helpers/tramway_flash_spec.rb
Due: rubocop, eslint

Fix
  spec/components/tailwinds/form/builder_spec.rb
Due: rubocop

Fix tests
  spec/components/tailwinds/form/builder_spec.rb
Due: rubocop

Release 2.2.1
  lib/tramway/version.rb
Due: rubocop

Update styles
  app/assets/javascripts/tramway/table_row_preview_controller.js
  app/components/tailwind_component.rb
  app/components/tailwinds/back_button_component.rb
  app/components/tailwinds/badge_component.rb
  app/components/tailwinds/button_component.rb
  app/components/tailwinds/containers/main_component.rb
  app/components/tailwinds/containers/narrow_component.rb
  app/components/tailwinds/form/multiselect/dropdown_container.rb
  app/components/tailwinds/form/multiselect/item_container.rb
  app/components/tailwinds/form/multiselect/select_as_input.rb
  app/components/tailwinds/form/multiselect/selected_item_template.rb
  app/components/tailwinds/form/multiselect_component.rb
  app/components/tailwinds/nav/item_component.rb
  app/components/tailwinds/navbar_component.rb
  app/components/tailwinds/pagination/base.rb
  app/components/tailwinds/pagination/gap_component.html.haml
  app/components/tailwinds/pagination/gap_component.rb
  app/components/tailwinds/pagination/page_component.rb
  app/components/tailwinds/table/cell_component.rb
  app/components/tailwinds/table/header_component.rb
  app/components/tailwinds/table/row_component.rb
  app/components/tailwinds/table_component.rb
  app/components/tailwinds/title_component.rb
  config/tailwind.config.js
Due: rubocop, eslint

Fix tests
  spec/components/tailwinds/back_button_component_spec.rb
  spec/components/tailwinds/badge_component_spec.rb
  spec/components/tailwinds/button_component_spec.rb
  spec/components/tailwinds/form/builder_spec.rb
  spec/features/form_for/base_spec.rb
  spec/features/table/base_spec.rb
Due: rubocop

Release 2.2.1.1
  lib/tramway/version.rb
Due: rubocop

Upgrade table style
  app/components/tailwinds/table/header_component.rb
Due: rubocop

Release 2.2.1.2
  lib/tramway/version.rb
Due: rubocop

Update buttons view
  app/components/tailwinds/navbar_component.html.haml
  config/tailwind.config.js
Due: eslint

Update burger
  app/components/tailwinds/navbar_component.html.haml
  config/tailwind.config.js
Due: eslint

Fix navbar
  README.md
  app/components/tailwinds/button_component.rb
  app/components/tailwinds/navbar_component.html.haml
  app/components/tailwinds/navbar_component.rb
  app/components/tailwinds/title_component.rb
  config/tailwind.config.js
Due: rubocop, eslint
