Repository Purple-Magic/tramway: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

lefthook.yml:

pre-commit:
  commands:
    rubocop:
      tags: backend style
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {all_files}
    eslint:
      tags: frontend style
      glob: "*.js"
      run: make eslint

Add button and back button components
  app/components/tailwinds/back_button_component.html.haml
  app/components/tailwinds/back_button_component.rb
  app/components/tailwinds/button_component.html.haml
  app/components/tailwinds/button_component.rb
  lib/tramway/helpers/views_helper.rb
Due: rubocop

Add more helpers
  lib/tramway/helpers/views_helper.rb
Due: rubocop

Update README with Sign In Form example
  README.md
Due: none

Add dry-initializer gem to README
  README.md
Due: none

Add dry-initializer to bundle command in README
  README.md
Due: none

Add install generator to configure gems and Tailwind safelist
  lib/generators/tramway/install/install_generator.rb
Due: rubocop

Add helper and component specs for tailwinds view helpers
  app/components/tailwinds/base_component.rb
  spec/components/tailwinds/back_button_component_spec.rb
  spec/components/tailwinds/button_component_spec.rb
  spec/dummy/config/application.rb
  spec/dummy/config/environments/development.rb
  spec/dummy/config/environments/production.rb
  spec/dummy/config/environments/test.rb
  spec/rails_helper.rb
  spec/tramway/helpers/views_helper_spec.rb
Due: rubocop

Add Tramway comment when appending dependencies
  lib/generators/tramway/install/install_generator.rb
Due: rubocop

Fix install generator gem block formatting
  README.md
  lib/generators/tramway/install/install_generator.rb
Due: rubocop

Linter fixes
  .rubocop.yml
  lib/generators/tramway/install/install_generator.rb
Due: rubocop

Add install generator for dependencies and Tailwind safelist (#109)
  .rubocop.yml
  README.md
  lib/generators/tramway/install/install_generator.rb
Due: rubocop

Refine Tailwinds specs for RuboCop compliance
  spec/components/tailwinds/back_button_component_spec.rb
  spec/components/tailwinds/button_component_spec.rb
  spec/tramway/helpers/views_helper_spec.rb
Due: rubocop

Restore Active Record railties for dummy app
  spec/dummy/config/application.rb
  spec/dummy/config/environments/development.rb
  spec/dummy/config/environments/production.rb
  spec/dummy/config/environments/test.rb
Due: rubocop

Add email_field
  app/components/tailwinds/form/builder.rb
Due: rubocop

Add specs for Tailwinds helpers and button components (#110)
  app/components/tailwinds/base_component.rb
  spec/components/tailwinds/back_button_component_spec.rb
  spec/components/tailwinds/button_component_spec.rb
  spec/rails_helper.rb
  spec/tramway/helpers/views_helper_spec.rb
Due: rubocop

Add install generator stylesheet support and tests
  .rspec
  lib/generators/tramway/install/install_generator.rb
  spec/components/tailwinds/form/builder_spec.rb
  spec/components/tailwinds/nav/item/button_component_spec.rb
  spec/components/tailwinds/nav/item/link_component_spec.rb
  spec/components/tailwinds/navbar_component_spec.rb
  spec/decorators/association_spec.rb
  spec/decorators/base_decorator_spec.rb
  spec/decorators/user_decorator_spec.rb
  spec/features/entities/index_spec.rb
  spec/features/form_for/base_spec.rb
  spec/features/multiselect_input_spec.rb
  spec/features/table/base_spec.rb
  spec/forms/base_form_spec.rb
  spec/forms/delegation_form_spec.rb
  spec/forms/inheritance_form_spec.rb
  spec/forms/normalizes_form_spec.rb
  spec/generators/tramway/install_generator_spec.rb
  spec/helpers/navbar_helper_spec.rb
  spec/initializers/tramway_load_routes_spec.rb
  spec/pagination/laptop_spec.rb
  spec/pagination/mobile_spec.rb
  spec/tramway/config_spec.rb
  spec/tramway/configs/entities/route_spec.rb
  spec/tramway/configs/entity_spec.rb
  spec/tramway/helpers/decorate_helper_spec.rb
  spec/tramway/helpers/form_helper_spec.rb
  spec/tramway/helpers/views_helper_spec.rb
Due: rubocop

Add specs for Tailwinds form builder field helpers
  spec/components/tailwinds/form/builder_spec.rb
Due: rubocop

Fix form builder
  app/components/tailwinds/form/builder.rb
Due: rubocop

Fix
  app/components/tailwinds/form/builder.rb
Due: rubocop

Add specs for Tailwinds form builder field helpers (#112)
  spec/components/tailwinds/form/builder_spec.rb
Due: rubocop

Update form builder
  app/components/tailwinds/form/builder.rb
Due: rubocop

Form builder fixes
  app/components/tailwinds/form/builder.rb
  spec/components/tailwinds/form/builder_spec.rb
Due: rubocop

Update README
  README.md
Due: none

Linter fixes
  .rubocop.yml
  spec/tramway/generators/install_generator_spec.rb
Due: rubocop

Remove unused tests
  spec/components/tailwinds/form/builder_spec.rb
Due: rubocop

Add install generator stylesheet handling and specs (#111)
  .rspec
  .rubocop.yml
  lib/generators/tramway/install/install_generator.rb
  spec/components/tailwinds/form/builder_spec.rb
  spec/components/tailwinds/nav/item/button_component_spec.rb
  spec/components/tailwinds/nav/item/link_component_spec.rb
  spec/components/tailwinds/navbar_component_spec.rb
  spec/decorators/association_spec.rb
  spec/decorators/base_decorator_spec.rb
  spec/decorators/user_decorator_spec.rb
  spec/features/entities/index_spec.rb
  spec/features/form_for/base_spec.rb
  spec/features/multiselect_input_spec.rb
  spec/features/table/base_spec.rb
  spec/forms/base_form_spec.rb
  spec/forms/delegation_form_spec.rb
  spec/forms/inheritance_form_spec.rb
  spec/forms/normalizes_form_spec.rb
  spec/helpers/navbar_helper_spec.rb
  spec/initializers/tramway_load_routes_spec.rb
  spec/pagination/laptop_spec.rb
  spec/pagination/mobile_spec.rb
  spec/tramway/config_spec.rb
  spec/tramway/configs/entities/route_spec.rb
  spec/tramway/configs/entity_spec.rb
  spec/tramway/generators/install_generator_spec.rb
  spec/tramway/helpers/decorate_helper_spec.rb
  spec/tramway/helpers/form_helper_spec.rb
  spec/tramway/helpers/views_helper_spec.rb
Due: rubocop

Fix tests
  app/components/tailwinds/form/builder.rb
Due: rubocop

Add narrow container
  .rubocop.yml
  app/components/tailwinds/containers/narrow_component.html.haml
  app/components/tailwinds/containers/narrow_component.rb
Due: rubocop

Add tramway_container helper
  lib/tramway/helpers/views_helper.rb
Due: rubocop

Revise examples for Sign In Forms in README
  README.md
Due: none

Email field (#113)
  README.md
  app/components/tailwinds/form/builder.rb
  spec/components/tailwinds/form/builder_spec.rb
Due: rubocop

Fix container
  app/components/tailwinds/containers/narrow_component.rb
Due: rubocop

iFix
  app/components/tailwinds/containers/narrow_component.rb
Due: rubocop

Highlight tailwind safelist sections
  config/tailwind.config.js
Due: eslint

Fix
  config/tailwind.config.js
Due: eslint

Add dark theme styles to narrow container component
  app/components/tailwinds/containers/narrow_component.html.haml
Due: none

Add dark theme styles to narrow container component (#115)
  app/components/tailwinds/containers/narrow_component.html.haml
Due: none

Emphasize safelist section comments (#114)
  config/tailwind.config.js
Due: eslint

Containers (#116)
  .rubocop.yml
  app/components/tailwinds/containers/narrow_component.html.haml
  app/components/tailwinds/containers/narrow_component.rb
  config/tailwind.config.js
  lib/tramway/helpers/views_helper.rb
Due: rubocop, eslint
