Repository Purple-Magic/tramway: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

lefthook.yml:

pre-commit:
  commands:
    rubocop:
      tags: backend style
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {all_files}
    eslint:
      tags: frontend style
      glob: "*.js"
      run: make eslint

Add pg_search-based entities#index search (#194)
  .agents/create-instruction.md
  .agents/infra-dependent-features.md
  AGENTS.md
  CLAUDE.md
  README.md
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/entities/_list.html.haml
  lib/generators/tramway/install/install_generator.rb
  lib/tramway/configs/entities/page.rb
  lib/tramway/errors.rb
  lib/tramway/pg_searchable.rb
  lib/tramway/searchable.rb
  spec/dummy/config/initializers/tramway.rb
  spec/features/entities/search_spec.rb
  spec/initializers/tramway_load_routes_spec.rb
  spec/rails_helper.rb
  spec/requests/tramway/entities_index_includes_spec.rb
  spec/requests/tramway/entities_search_spec.rb
  spec/tramway/generators/install_generator_spec.rb
  spec/tramway/pg_searchable_spec.rb
  tramway.gemspec
Due: rubocop

Bump to 4.0.1
  lib/tramway/version.rb
Due: rubocop

Fix navbar collapsing
  README.md
  app/assets/javascripts/tramway/tramway.js
Due: eslint

Fix navbar
  README.md
  app/assets/javascripts/tramway/tramway.js
  app/components/tramway/navbar_component.html.haml
  docs/users/tramway_navbar.md
Due: eslint

Fix
  app/assets/javascripts/tramway/tramway.js
Due: eslint

MOre instructions
  .agents/releases.md
  AGENTS.md
  CLAUDE.md
Due: none

Add commit-every-change instruction to AGENTS.md and CLAUDE.md
  AGENTS.md
  CLAUDE.md
Due: none

Fix navbar collapse/expand persistence and load flicker (#195)
  .agents/releases.md
  AGENTS.md
  CLAUDE.md
  README.md
  app/assets/javascripts/tramway/tramway.js
  app/components/tramway/navbar_component.html.haml
  docs/users/tramway_navbar.md
Due: eslint

Bump to 4.0.1.1
  lib/tramway/version.rb
Due: rubocop

Fix tramway_navbar toggle button position
  app/assets/javascripts/tramway/tramway.js
  app/components/tramway/navbar_component.html.haml
  app/components/tramway/navbar_component.rb
  config/tailwind.config.js
Due: rubocop, eslint

Revert toggle button position, keep icon direction only
  app/assets/javascripts/tramway/tramway.js
  app/components/tramway/navbar_component.html.haml
  app/components/tramway/navbar_component.rb
  config/tailwind.config.js
Due: rubocop, eslint

Flip toggle chevron rotation direction
  app/assets/javascripts/tramway/tramway.js
  app/components/tramway/navbar_component.html.haml
  app/components/tramway/navbar_component.rb
Due: rubocop, eslint

Stop chevron from double-spinning on collapse/expand
  app/components/tramway/navbar_component.html.haml
Due: none

Swap toggle chevron rotation direction back
  app/assets/javascripts/tramway/tramway.js
  app/components/tramway/navbar_component.rb
Due: rubocop, eslint

Bump to 4.0.1.2
  lib/tramway/version.rb
Due: rubocop

Truncate overflowing cell content and scroll tables horizontally on mobile
  app/components/tramway/table/cell_component.rb
  app/components/tramway/table/grid_columns.rb
  app/components/tramway/table/header_component.html.haml
  app/components/tramway/table/header_component.rb
  app/components/tramway/table/row/preview_component.html.haml
  app/components/tramway/table/row/preview_component.rb
  app/components/tramway/table/row_component.html.haml
  app/components/tramway/table/row_component.rb
  app/components/tramway/table_component.rb
  config/tailwind.config.js
  lib/tramway/helpers/views_helper.rb
Due: rubocop, eslint

Remove TableRowPreview stimulus controller and its registrations
  app/assets/javascripts/tramway/tramway.js
  lib/generators/tramway/install/install_generator.rb
  spec/dummy/app/javascript/controllers/index.js
Due: rubocop, eslint

Update table specs for truncation, mobile scroll, and drawer removal
  spec/components/tramway/table/cell_component_spec.rb
  spec/components/tramway/table/header_component_spec.rb
  spec/components/tramway/table/row_component_spec.rb
  spec/features/table/base_spec.rb
  spec/features/table/mobile_scroll_spec.rb
  spec/features/table/preview_spec.rb
  spec/tramway/generators/install_generator_spec.rb
  spec/tramway/helpers/views_helpers/tramway_row_spec.rb
  spec/tramway/helpers/views_helpers/tramway_table_spec.rb
Due: rubocop

Document CSS truncation and mobile horizontal scroll for tramway_table
  README.md
Due: none

Fix desktop table grid layout broken by undetectable Tailwind class
  app/components/tramway/table/grid_columns.rb
  app/components/tramway/table/header_component.html.haml
  app/components/tramway/table/header_component.rb
  app/components/tramway/table/row_component.html.haml
  app/components/tramway/table/row_component.rb
  config/tailwind.config.js
  spec/components/tramway/table/header_component_spec.rb
  spec/components/tramway/table/row_component_spec.rb
  spec/tramway/helpers/views_helpers/tramway_table_spec.rb
Due: rubocop, eslint

Grow table row/header boxes to match overflowed columns; persistent scrollbar
  app/assets/tailwind/application.css
  app/components/tramway/table/grid_columns.rb
  app/components/tramway/table_component.rb
  lib/generators/tramway/install/install_generator.rb
  spec/components/tramway/table/header_component_spec.rb
  spec/components/tramway/table/row_component_spec.rb
  spec/components/tramway/table_component_spec.rb
  spec/dummy/app/assets/tailwind/application.css
  spec/tramway/generators/install_generator_spec.rb
  spec/tramway/helpers/views_helpers/tramway_table_spec.rb
Due: rubocop

Document persistent scrollbar and header width parity for mobile table
  README.md
Due: none

Declutter mobile pagination and fix broken sm: hiding
  README.md
  app/assets/builds/tailwind.css
  app/components/tramway/pagination/first_page_component.html.haml
  app/components/tramway/pagination/last_page_component.html.haml
  app/components/tramway/pagination/next_page_component.html.haml
  app/components/tramway/pagination/page_component.html.haml
  app/components/tramway/pagination/prev_page_component.html.haml
  app/views/tramway/entities/_list.html.haml
  config/tailwind.config.js
  spec/dummy/app/assets/builds/tailwind.css
  spec/dummy/app/views/users/index.html.haml
  spec/pagination/mobile_spec.rb
Due: rubocop, eslint

Make main container cover full page width when content overflows
  README.md
  app/components/tramway/containers/main_component.html.haml
  config/tailwind.config.js
Due: eslint

Fix wrong container: revert MainComponent, fix NarrowComponent instead
  README.md
  app/components/tramway/containers/main_component.html.haml
  app/components/tramway/containers/narrow_component.html.haml
  app/components/tramway/containers/narrow_component.rb
Due: rubocop

Keep navbar pinned horizontally when page scrolls sideways
  README.md
  app/components/tramway/navbar_component.rb
  config/tailwind.config.js
Due: rubocop, eslint

Use position:fixed instead of sticky to pin navbar on mobile
  README.md
  app/components/tramway/navbar_component.rb
  config/tailwind.config.js
  lib/tramway/helpers/views_helper.rb
Due: rubocop, eslint

Use w-screen instead of w-full for the fixed navbar's mobile width
  README.md
  app/components/tramway/navbar_component.rb
Due: rubocop

Contain table horizontal overflow to the table, not the page
  README.md
  app/components/tramway/containers/narrow_component.html.haml
  app/components/tramway/containers/narrow_component.rb
  app/components/tramway/table_component.rb
  spec/components/tramway/table_component_spec.rb
Due: rubocop

Keep index page pagination outside the table's scroll container
  README.md
  app/views/tramway/entities/_list.html.haml
Due: none

Move table mobile-scroll implementation details out of README
  README.md
  docs/users/tramway_table.md
Due: none

Add agent instruction to keep README.md user-facing only
  .agents/documentation.md
  AGENTS.md
  CLAUDE.md
Due: none

Bump version to 4.0.1.3
  lib/tramway/version.rb
Due: rubocop

Add optional Font Awesome icons to navbar items
  README.md
  app/components/tramway/nav/item/button_component.html.haml
  app/components/tramway/nav/item/button_component.rb
  app/components/tramway/nav/item/link_component.html.haml
  app/components/tramway/nav/item/link_component.rb
  app/components/tramway/nav/item_component.rb
  app/components/tramway/navbar_component.html.haml
  config/tailwind.config.js
  docs/users/tramway_navbar.md
  lib/tramway/navbar.rb
  spec/components/tramway/nav/item/button_component_spec.rb
  spec/components/tramway/nav/item/link_component_spec.rb
  spec/helpers/navbar_helper_spec.rb
Due: rubocop, eslint

Fix collapsed navbar icons being unclickable
  app/assets/javascripts/tramway/tramway.js
Due: eslint

Fix collapsed navbar icon centering by targeting real DOM elements
  app/components/tramway/navbar_component.html.haml
Due: none

Document index_header_content placement on entity index page
  README.md
Due: none

Move index_header_content placement rule to docs/ and fix its rendering
  .agents/documentation.md
  README.md
  app/views/tramway/entities/_list.html.haml
  docs/users/tramway_entities.md
Due: none

Increase spacing between title and index_header_content
  app/views/tramway/entities/_list.html.haml
  config/tailwind.config.js
Due: eslint
