Repository Purple-Magic/tramway: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

rubocop:
  tags: backend style
  run: bundle exec rubocop --force-exclusion {all_files}

eslint:
  tags: frontend style
  run: make eslint

Release 2.0.3.2
  lib/tramway/base_form.rb
  lib/tramway/version.rb
  spec/forms/base_form_spec.rb
Due: rubocop

Fix link formatting for Lantern Color Palette
  README.md
Due: none

Release 2.0.3.3
  lib/tramway/base_decorator.rb
  lib/tramway/version.rb
Due: rubocop

Ruby 4 support
  .rubocop.yml
  Gemfile
  Makefile
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  gemfiles/rails_8.1.gemfile
  package.json
Due: none

Linter fixes
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  gemfiles/rails_8.1.gemfile
Due: none

Ruby 4 support (#146)
  .rubocop.yml
  Gemfile
  Makefile
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  gemfiles/rails_8.1.gemfile
  package.json
Due: none

Add support for Rails 4.0 in compatibility table
  README.md
Due: none

Release 2.0.3.4
  lib/tramway/version.rb
Due: rubocop

Add config for color theme
  app/components/tailwinds/containers/narrow_component.html.haml
  app/components/tailwinds/containers/narrow_component.rb
  lib/tramway/config.rb
Due: rubocop

Wiped out light theme
  app/components/tailwinds/badge_component.rb
  app/components/tailwinds/button_component.rb
  app/components/tailwinds/containers/narrow_component.html.haml
  app/components/tailwinds/containers/narrow_component.rb
  app/components/tailwinds/form/date_field_component.html.haml
  app/components/tailwinds/form/file_field_component.html.haml
  app/components/tailwinds/form/label_component.html.haml
  app/components/tailwinds/form/multiselect/dropdown_container.html.haml
  app/components/tailwinds/form/multiselect/item_container.html.haml
  app/components/tailwinds/form/multiselect/select_as_input.html.haml
  app/components/tailwinds/form/multiselect/selected_item_template.html.haml
  app/components/tailwinds/form/multiselect_component.html.haml
  app/components/tailwinds/form/number_field_component.html.haml
  app/components/tailwinds/form/select_component.html.haml
  app/components/tailwinds/form/submit_button_component.html.haml
  app/components/tailwinds/form/text_area_component.html.haml
  app/components/tailwinds/form/text_field_component.html.haml
  app/components/tailwinds/nav/item_component.rb
  app/components/tailwinds/navbar_component.html.haml
  app/components/tailwinds/navbar_component.rb
  app/components/tailwinds/pagination/base.rb
  app/components/tailwinds/pagination/gap_component.html.haml
  app/components/tailwinds/pagination/page_component.html.haml
  app/components/tailwinds/table/cell_component.html.haml
  app/components/tailwinds/table/header_component.html.haml
  app/components/tailwinds/table/row/preview_component.html.haml
  app/components/tailwinds/table/row_component.html.haml
  app/components/tailwinds/table/row_component.rb
  app/components/tailwinds/table_component.html.haml
  app/components/tailwinds/title_component.html.haml
  app/views/tramway/layouts/application.html.haml
  lib/tramway/config.rb
Due: rubocop

Tests fixed
  .github/workflows/rspec.yml
  .github/workflows/rubocop.yml
  spec/components/tailwinds/badge_component_spec.rb
  spec/components/tailwinds/button_component_spec.rb
  spec/components/tailwinds/form/builder_spec.rb
  spec/components/tailwinds/navbar_component_spec.rb
  spec/features/form_for/base_spec.rb
  spec/features/table/base_spec.rb
  spec/pagination/laptop_spec.rb
  spec/pagination/mobile_spec.rb
Due: rubocop

Fix CI
  .github/workflows/rspec.yml
  config/tailwind.config.js
Due: eslint

Upgrade cache
  .github/workflows/rspec.yml
Due: none

Fix cache
  .github/workflows/rspec.yml
Due: none

Release 2.0.3.5
  lib/tramway/version.rb
Due: rubocop

Disabled buttons style
  app/components/tailwinds/button_component.rb
  config/tailwind.config.js
  spec/components/tailwinds/button_component_spec.rb
Due: rubocop, eslint

Release 2.0.4
  lib/tramway/version.rb
Due: rubocop

Fix rendering button
  app/components/tailwinds/button_component.html.haml
  app/components/tailwinds/button_component.rb
  spec/components/tailwinds/button_component_spec.rb
Due: rubocop

Release 2.0.4.1
  lib/tramway/version.rb
Due: rubocop

Update agents.md
  docs/AGENTS.md
  lib/generators/tramway/install/install_generator.rb
  spec/tramway/generators/install_generator_spec.rb
  tramway.gemspec
Due: rubocop

Linter fixes
  lib/generators/tramway/install/install_generator.rb
  spec/tramway/generators/install_generator_spec.rb
Due: rubocop

Agents.md (#149)
  docs/AGENTS.md
  lib/generators/tramway/install/install_generator.rb
  spec/tramway/generators/install_generator_spec.rb
  tramway.gemspec
Due: rubocop

Update version.rb
  lib/tramway/version.rb
Due: rubocop

Fix tramway_button
  app/components/tailwinds/button_component.rb
Due: rubocop

Release 2.1.0.1
  lib/tramway/version.rb
Due: rubocop

Add initial_object to base_form
  lib/tramway/base_form.rb
Due: rubocop

Release 2.1.1
  lib/tramway/version.rb
Due: rubocop

Fix linter
  .github/workflows/rubocop.yml
Due: none

Fix
  .github/workflows/rubocop.yml
  .github/workflows/test.yml
Due: none

Fix linters
  spec/dummy/bin/setup
Due: none

Add options to tramway_container
  app/components/tailwinds/containers/narrow_component.html.haml
  app/components/tailwinds/containers/narrow_component.rb
  lib/tramway/helpers/views_helper.rb
Due: rubocop

Release 2.1.2
  lib/tramway/version.rb
Due: rubocop

Fix tramway_button in tramway_cell
  app/components/tailwinds/button_component.html.haml
  app/components/tailwinds/button_component.rb
  app/components/tailwinds/table/cell_component.rb
  spec/components/tailwinds/button_component_spec.rb
Due: rubocop

Remove unused test
  spec/components/tailwinds/button_component_spec.rb
  spec/support/web_driver_helper.rb
Due: rubocop

Release 2.1.2.1
  lib/tramway/version.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  eslint: any of: *.js
