Repository Purple-Magic/tramway: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

rubocop:
  tags: backend style
  run: bundle exec rubocop --force-exclusion {all_files}

eslint:
  tags: frontend style
  run: make eslint

Release 1.1.2
  lib/tramway/version.rb
Due: rubocop

Fix views_helper
  lib/tramway/helpers/views_helper.rb
Due: rubocop

Release 1.1.2.1
  lib/tramway/version.rb
Due: rubocop

Add badges to README for project status
  README.md
Due: none

Fix tailwind config
  config/tailwind.config.js
Due: eslint

Release 1.1.2.2
  lib/tramway/version.rb
Due: rubocop

Implement form_options
  README.md
  app/components/tailwinds/button_component.html.haml
  app/components/tailwinds/button_component.rb
  lib/tramway/helpers/views_helper.rb
  spec/tramway/helpers/views_helper_spec.rb
Due: rubocop

Separate tests
  .rubocop.yml
  spec/tramway/helpers/views_helper_spec.rb
  spec/tramway/helpers/views_helpers/tramway_button_spec.rb
  spec/tramway/helpers/views_helpers/tramway_cell_spec.rb
  spec/tramway/helpers/views_helpers/tramway_form_for_spec.rb
  spec/tramway/helpers/views_helpers/tramway_row_spec.rb
  spec/tramway/helpers/views_helpers/tramway_table_spec.rb
Due: rubocop

Implement form_options (#143)
  .rubocop.yml
  README.md
  app/components/tailwinds/button_component.html.haml
  app/components/tailwinds/button_component.rb
  lib/tramway/helpers/views_helper.rb
  spec/tramway/helpers/views_helper_spec.rb
  spec/tramway/helpers/views_helpers/tramway_button_spec.rb
  spec/tramway/helpers/views_helpers/tramway_cell_spec.rb
  spec/tramway/helpers/views_helpers/tramway_form_for_spec.rb
  spec/tramway/helpers/views_helpers/tramway_row_spec.rb
  spec/tramway/helpers/views_helpers/tramway_table_spec.rb
Due: rubocop

Release 1.1.3
  lib/tramway/version.rb
Due: rubocop

Update configuration
  app/views/tramway/entities/_list.html.haml
  lib/tramway/configs/entity.rb
Due: rubocop

Implement routes
  config/routes.rb
Due: rubocop

New action implemented
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/entities/_form.html.haml
  app/views/tramway/entities/_list.html.haml
  app/views/tramway/entities/new.html.haml
  lib/tramway/base_form.rb
  lib/tramway/configs/entity.rb
  lib/tramway/forms/fields.rb
  lib/tramway/forms/properties.rb
Due: rubocop

Creating works!
  app/components/tailwinds/form/builder.rb
  app/components/tailwinds/title_component.html.haml
  app/components/tailwinds/title_component.rb
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/entities/_form.html.haml
  app/views/tramway/entities/_list.html.haml
  app/views/tramway/entities/new.html.haml
  app/views/tramway/layouts/application.html.haml
  config/locales/en.yml
  config/tailwind.config.js
  lib/tramway/helpers/views_helper.rb
Due: rubocop, eslint

Update locales
  app/views/tramway/entities/_form.html.haml
  app/views/tramway/entities/new.html.haml
  config/locales/en.yml
Due: none

Add tests
  app/components/tailwinds/form/builder.rb
  spec/dummy/app/forms/post_form.rb
  spec/dummy/config/initializers/tramway.rb
  spec/features/entities/create_spec.rb
Due: rubocop

Many fixes
  app/views/tramway/entities/show.html.haml
  config/locales/en.yml
  spec/components/tramway/entity_component_spec.rb
  spec/decorators/association_spec.rb
  spec/dummy/app/decorators/admin/article_decorator.rb
  spec/dummy/app/decorators/admin/comment_decorator.rb
  spec/dummy/app/decorators/admin/like_decorator.rb
  spec/dummy/app/decorators/admin/post_decorator.rb
  spec/dummy/app/decorators/like_decorator.rb
  spec/dummy/app/decorators/user_decorator.rb
  spec/dummy/app/forms/admin/post_form.rb
  spec/dummy/config/initializers/tramway.rb
  spec/dummy/config/routes.rb
  spec/features/entities/create_spec.rb
  spec/features/entities/index_spec.rb
  spec/features/entities/show_spec.rb
Due: rubocop

Fix tests
  spec/initializers/tramway_load_routes_spec.rb
  spec/lib/kaminari/helpers/tag_spec.rb
Due: rubocop

Rubocop fixes
  app/components/tailwinds/form/builder.rb
  app/components/tailwinds/title_component.rb
  app/controllers/tramway/entities_controller.rb
  config/routes.rb
  lib/tramway/forms/fields.rb
  lib/tramway/utils/field.rb
  spec/dummy/app/decorators/admin/article_decorator.rb
  spec/dummy/app/decorators/admin/comment_decorator.rb
  spec/dummy/app/decorators/admin/like_decorator.rb
  spec/dummy/app/decorators/admin/post_decorator.rb
  spec/dummy/app/forms/admin/post_form.rb
  spec/features/entities/create_spec.rb
  spec/features/entities/show_spec.rb
  spec/initializers/tramway_load_routes_spec.rb
  spec/tramway/helpers/routes_helper_spec.rb
Due: rubocop

Eslint fix
  config/tailwind.config.js
Due: eslint

Fix
  spec/features/entities/create_spec.rb
Due: rubocop

Fix tests
  spec/features/entities/create_spec.rb
Due: rubocop

Create page (#144)
  app/components/tailwinds/form/builder.rb
  app/components/tailwinds/title_component.html.haml
  app/components/tailwinds/title_component.rb
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/entities/_form.html.haml
  app/views/tramway/entities/_list.html.haml
  app/views/tramway/entities/new.html.haml
  app/views/tramway/entities/show.html.haml
  app/views/tramway/layouts/application.html.haml
  config/locales/en.yml
  config/routes.rb
  config/tailwind.config.js
  lib/tramway/base_form.rb
  lib/tramway/configs/entity.rb
  lib/tramway/forms/fields.rb
  lib/tramway/forms/properties.rb
  lib/tramway/helpers/views_helper.rb
  lib/tramway/utils/field.rb
  spec/components/tramway/entity_component_spec.rb
  spec/decorators/association_spec.rb
  spec/dummy/app/decorators/admin/article_decorator.rb
  spec/dummy/app/decorators/admin/comment_decorator.rb
  spec/dummy/app/decorators/admin/like_decorator.rb
  spec/dummy/app/decorators/admin/post_decorator.rb
  spec/dummy/app/decorators/article_decorator.rb
  spec/dummy/app/decorators/comment_decorator.rb
  spec/dummy/app/decorators/like_decorator.rb
  spec/dummy/app/decorators/post_decorator.rb
  spec/dummy/app/decorators/user_decorator.rb
  spec/dummy/app/forms/admin/post_form.rb
  spec/dummy/config/initializers/tramway.rb
  spec/dummy/config/routes.rb
  spec/features/entities/create_spec.rb
  spec/features/entities/index_spec.rb
  spec/features/entities/show_spec.rb
  spec/initializers/tramway_load_routes_spec.rb
  spec/lib/kaminari/helpers/tag_spec.rb
  spec/tramway/helpers/routes_helper_spec.rb
Due: rubocop, eslint

Release 2.0
  lib/tramway/version.rb
Due: rubocop

Fix
  lib/tramway/utils/field.rb
Due: rubocop

Release 2.0.1
  lib/tramway/version.rb
Due: rubocop

Release 2.0.1.1
  lib/tramway/version.rb
Due: rubocop

Implement flash component
  app/components/tailwinds/flash_component.html.haml
  app/components/tailwinds/flash_component.rb
  app/views/tramway/layouts/application.html.haml
  lib/tramway/helpers/views_helper.rb
Due: rubocop

Add README and tests
  README.md
  spec/tramway/helpers/views_helpers/tramway_flash_spec.rb
Due: rubocop

Flash component (#145)
  README.md
  app/components/tailwinds/flash_component.html.haml
  app/components/tailwinds/flash_component.rb
  app/views/tramway/layouts/application.html.haml
  lib/tramway/helpers/views_helper.rb
  spec/tramway/helpers/views_helpers/tramway_flash_spec.rb
Due: rubocop

Release 2.0.2
  lib/tramway/version.rb
Due: rubocop

Update README.md
  README.md
Due: none

Update color palette references in README
  README.md
Due: none

Enhance README with Lantern Color Palette links
  README.md
Due: none

Fix link formatting for Lantern Color Palette
  README.md
Due: none

Release 2.0.3
  app/components/tailwinds/button_component.rb
  lib/tramway/version.rb
Due: rubocop

Release 2.0.3.1
  app/components/tailwinds/button_component.rb
  config/tailwind.config.js
  lib/tramway/version.rb
Due: rubocop, eslint

Path conditions:
  rubocop: any of: *.rb
  eslint: any of: *.js
