Repository Purple-Magic/tramway: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

lefthook.yml:

pre-commit:
  commands:
    rubocop:
      tags: backend style
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {all_files}
    eslint:
      tags: frontend style
      glob: "*.js"
      run: make eslint

Release 0.6.1.2
  lib/tramway/version.rb
Due: rubocop

Prevent tailwind buttons from wrapping text
  app/components/tailwinds/button_component.rb
Due: rubocop

Safelist whitespace-nowrap for Tailwind buttons
  config/tailwind.config.js
Due: eslint

Prevent navbar items from wrapping
  app/components/tailwinds/nav/item/button_component.html.haml
  app/components/tailwinds/nav/item/link_component.html.haml
  spec/components/tailwinds/nav/item/button_component_spec.rb
  spec/components/tailwinds/nav/item/link_component_spec.rb
Due: rubocop

Rubocop fixes
  app/components/tailwinds/button_component.rb
Due: rubocop

Prevent tailwind buttons from wrapping text (#124)
  app/components/tailwinds/button_component.rb
  app/components/tailwinds/nav/item/button_component.html.haml
  app/components/tailwinds/nav/item/link_component.html.haml
  config/tailwind.config.js
  spec/components/tailwinds/nav/item/button_component_spec.rb
  spec/components/tailwinds/nav/item/link_component_spec.rb
Due: rubocop, eslint

Release 0.6.1.3
  lib/tramway/version.rb
Due: rubocop

Remove whitespace nowrap from table
  app/components/tailwinds/table/cell_component.html.haml
Due: none

Release 0.6.1.4
  lib/tramway/version.rb
Due: rubocop

Clarify Rails 7.1 residual support note
  README.md
Due: none

Clarify Rails 7.1 residual support note (#125)
  README.md
Due: none

Fix styles
  config/tailwind.config.js
Due: eslint

Release 0.6.1.5
  lib/tramway/version.rb
Due: rubocop

Expand Tailwind safelist for components
  config/tailwind.config.js
Due: eslint

Fix navbar
  app/components/tailwinds/navbar_component.html.haml
Due: none

Fix rubocop
  spec/components/tailwinds/navbar_component_spec.rb
  spec/features/table/base_spec.rb
  spec/helpers/navbar_helper_spec.rb
Due: rubocop

Release 0.6.1.6
  lib/tramway/version.rb
Due: rubocop

Fix tailwind.config.js
  config/tailwind.config.js
Due: eslint

A lot of updates for show_page
  app/components/tailwind_component.rb
  app/components/tailwinds/containers/narrow_component.rb
  app/components/tailwinds/table/cell_component.rb
  app/components/tailwinds/table/header_component.rb
  app/components/tailwinds/table/row/preview_component.rb
  app/components/tailwinds/table/row_component.html.haml
  app/components/tailwinds/table/row_component.rb
  app/components/tailwinds/table_component.rb
  app/components/tramway/base_component.rb
  app/components/tramway/component/base.rb
  app/components/tramway/entity_component.html.haml
  app/components/tramway/entity_component.rb
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/entities/_entity.html.haml
  app/views/tramway/entities/_list.html.haml
  app/views/tramway/entities/show.html.haml
  config/routes.rb
  lib/tramway/configs/entity.rb
  lib/tramway/helpers/navbar_helper.rb
  lib/tramway/navbar.rb
Due: rubocop

Fix rubocop
  app/components/tramway/entity_component.rb
  lib/tramway/base_decorator.rb
  lib/tramway/configs/entity.rb
Due: rubocop

Replace list_attributes with index_attributes
  README.md
  app/components/tramway/entity_component.rb
  app/views/tramway/entities/_list.html.haml
  spec/dummy/app/decorators/article_decorator.rb
  spec/dummy/app/decorators/post_decorator.rb
  spec/features/entities/index_spec.rb
Due: rubocop

Fix show page
  app/helpers/tramway/application_helper.rb
  app/views/tramway/entities/show.html.haml
Due: rubocop

Fix github workflow
  .github/workflows/test.yml
Due: none

Fix tests
  app/components/tailwinds/base_component.rb
  app/components/tailwinds/form/label_component.rb
  app/components/tailwinds/pagination/base.rb
  app/components/tailwinds/pagination/gap_component.rb
  app/components/tramway/base_component.rb
  app/components/tramway/entity_component.rb
  config/routes.rb
  lib/tramway/configs/entities/route.rb
  lib/tramway/configs/entity.rb
  lib/tramway/navbar.rb
  spec/features/entities/index_spec.rb
Due: rubocop

Fix routes module
  lib/tramway/configs/entities/route.rb
  lib/tramway/configs/entity.rb
  spec/helpers/navbar_helper_spec.rb
  spec/tramway/configs/entities/route_spec.rb
Due: rubocop

Fix routes methods
  lib/tramway/configs/entities/route.rb
  lib/tramway/configs/entity.rb
  spec/tramway/configs/entity_spec.rb
Due: rubocop

Fix tests
  spec/tramway/configs/entities/route_spec.rb
Due: rubocop

Add show page specs and coverage
  Gemfile
  README.md
  spec/components/tramway/entity_component_spec.rb
  spec/dummy/app/decorators/post_decorator.rb
  spec/dummy/config/initializers/tramway.rb
  spec/factories/users.rb
  spec/features/entities/index_spec.rb
  spec/features/entities/show_spec.rb
  spec/tramway/configs/entity_spec.rb
Due: rubocop

Add show page specs and coverage (#128)
  Gemfile
  README.md
  spec/components/tramway/entity_component_spec.rb
  spec/dummy/app/decorators/post_decorator.rb
  spec/dummy/config/initializers/tramway.rb
  spec/factories/users.rb
  spec/features/entities/index_spec.rb
  spec/features/entities/show_spec.rb
  spec/tramway/configs/entity_spec.rb
Due: rubocop

Fix tests and linters
  .rubocop.yml
  Gemfile
  app/helpers/tramway/application_helper.rb
  spec/components/tramway/entity_component_spec.rb
  spec/dummy/app/decorators/post_decorator.rb
  spec/features/entities/show_spec.rb
  spec/initializers/tramway_load_routes_spec.rb
Due: rubocop

Remove comments
  config/routes.rb
  lib/tramway/navbar.rb
Due: rubocop

Release 1.0
  lib/tramway/version.rb
Due: rubocop

Fix routes
  app/controllers/tramway/entities_controller.rb
Due: rubocop

Fix routes
  config/routes.rb
Due: rubocop

Fix error
  lib/tramway/decorators/class_helper.rb
Due: rubocop

Revert "Fix routes"
  app/controllers/tramway/entities_controller.rb
Due: rubocop

Revert "Fix routes"
  config/routes.rb
Due: rubocop

Reapply "Fix routes"
  app/controllers/tramway/entities_controller.rb
Due: rubocop

Reapply "Fix routes"
  config/routes.rb
Due: rubocop
