Repository Purple-Magic/tramway: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

lefthook.yml:

pre-commit:
  commands:
    rubocop:
      tags: backend style
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {all_files}
    eslint:
      tags: frontend style
      glob: "*.js"
      run: make eslint

Update navbar
  app/components/tailwinds/navbar_component.html.haml
  app/components/tailwinds/navbar_component.rb
  config/tailwind.config.js
Due: rubocop, eslint

Fix javascript
  app/components/tailwinds/navbar_component.html.haml
Due: none

Fix navbar (#153)
  README.md
  app/components/tailwinds/button_component.rb
  app/components/tailwinds/navbar_component.html.haml
  app/components/tailwinds/navbar_component.rb
  app/components/tailwinds/title_component.rb
  config/tailwind.config.js
Due: rubocop, eslint

Release 2.2.2
  lib/tramway/version.rb
Due: rubocop

Fix navbar
  app/components/tailwinds/navbar_component.html.haml
  config/tailwind.config.js
Due: eslint

Release 2.2.2.1
  lib/tramway/version.rb
Due: rubocop

Fix mobile navbar
  app/components/tailwinds/navbar_component.html.haml
  app/components/tailwinds/navbar_component.rb
  config/tailwind.config.js
Due: rubocop, eslint

Release 2.2.2.2
  lib/tramway/version.rb
Due: rubocop

Fix navbar
  app/components/tailwinds/navbar_component.html.haml
Due: none

Release 2.2.2.3
  lib/tramway/version.rb
Due: rubocop

Fix form sizes
  app/components/tailwind_component.rb
  app/components/tailwinds/button_component.rb
  app/components/tailwinds/form/builder.rb
  app/components/tailwinds/form/submit_button_component.rb
  lib/tramway/helpers/views_helper.rb
Due: rubocop

Add datetime_field_component
  README.md
  app/components/tailwinds/form/builder.rb
  app/components/tailwinds/form/datetime_field_component.html.haml
  app/components/tailwinds/form/datetime_field_component.rb
  app/components/tailwinds/form/submit_button_component.rb
  spec/components/tailwinds/form/builder_spec.rb
Due: rubocop

Release 2.2.2.4
  lib/tramway/version.rb
  spec/tramway/helpers/views_helpers/tramway_form_for_spec.rb
Due: rubocop

Release 2.2.2.4
  .github/workflows/gem_push.yml
  lib/tramway/version.rb
  spec/tramway/helpers/views_helpers/tramway_form_for_spec.rb
Due: rubocop

Release 2.2.2.5
  lib/tramway/version.rb
Due: rubocop

Release 2.2.2.6
  lib/tramway/version.rb
Due: rubocop

Release 2.2.2.6
  app/components/tailwinds/containers/main_component.html.haml
  app/views/tramway/entities/_list.html.haml
  config/tailwind.config.js
  lib/tramway/version.rb
Due: rubocop, eslint

Fix button
  app/components/tailwinds/button_component.rb
Due: rubocop

Fix button
  app/components/tailwinds/button_component.rb
  spec/components/tailwinds/button_component_spec.rb
Due: rubocop

Fix button (#154)
  app/components/tailwinds/button_component.rb
  spec/components/tailwinds/button_component_spec.rb
Due: rubocop

Release 2.2.2.7
  lib/tramway/version.rb
Due: rubocop

Update AGENTS.md
  docs/AGENTS.md
Due: none

Udpate AGENTS.md
  docs/AGENTS.md
Due: none

update AGENTS.md
  docs/AGENTS.md
Due: none

Update AGENTS.md
  README.md
  docs/AGENTS.md
Due: none

Update AGENTS.md. Added Rule #19
  docs/AGENTS.md
Due: none

Update AGENTS.md. Added Rules 20, 21
  docs/AGENTS.md
Due: none

AGENTS.md: add guideline for using model scopes in collections
  docs/AGENTS.md
Due: none

Update AGENTS.md
  docs/AGENTS.md
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  gemfiles/rails_8.1.gemfile
Due: none

AGENTS.md: add Rule 25
  docs/AGENTS.md
Due: none

Update README.md
  README.md
Due: none

Fix `tramway_button`
  app/components/tailwinds/button_component.html.haml
  app/components/tailwinds/button_component.rb
  app/components/tailwinds/form/builder.rb
  app/components/tailwinds/form/submit_button_component.html.haml
  app/components/tailwinds/form/submit_button_component.rb
  app/components/tramway/entity_component.html.haml
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  gemfiles/rails_8.1.gemfile
  lib/tramway/helpers/views_helper.rb
  spec/components/tailwinds/button_component_spec.rb
  spec/features/entities/create_spec.rb
  spec/features/entities/show_spec.rb
  spec/tramway/helpers/views_helpers/tramway_button_spec.rb
Due: rubocop

Release 2.2.3
  lib/tramway/version.rb
Due: rubocop

Fix submit button
  app/components/tailwinds/button_component.html.haml
  app/components/tailwinds/button_component.rb
  app/components/tailwinds/form/builder.rb
  spec/components/tailwinds/form/builder_spec.rb
Due: rubocop
