Repository Purple-Magic/tramway: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

lefthook.yml:

pre-commit:
  commands:
    rubocop:
      tags: backend style
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {all_files}
    eslint:
      tags: frontend style
      glob: "*.js"
      run: make eslint

Remote works
  app/components/tramway/form/builder.rb
  lib/tramway/helpers/views_helper.rb
Due: rubocop

Fix checkbox style
  app/components/tramway/form/checkbox_component.html.haml
  app/components/tramway/form/checkbox_component.rb
  app/components/tramway/form/label_component.html.haml
  app/components/tramway/form/label_component.rb
  config/tailwind.config.js
Due: rubocop, eslint

Fix id for checkboxes
  app/components/tramway/form/builder.rb
Due: rubocop

Fix
  app/components/tramway/form/builder.rb
Due: rubocop

Update label component
  app/components/tramway/form/checkbox_component.html.haml
  app/components/tramway/form/checkbox_component.rb
  app/components/tramway/form/date_field_component.html.haml
  app/components/tramway/form/datetime_field_component.html.haml
  app/components/tramway/form/number_field_component.html.haml
  app/components/tramway/form/select_component.html.haml
  app/components/tramway/form/text_area_component.html.haml
  app/components/tramway/form/text_field_component.html.haml
  app/components/tramway/form/time_field_component.html.haml
  app/components/tramway/form/tramway_select_component.html.haml
  config/tailwind.config.js
Due: rubocop, eslint

Fix
  app/components/tramway/form/label_component.rb
Due: rubocop

Update AGENTS.md
  docs/AGENTS.md
Due: none

Fix tests
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  gemfiles/rails_8.1.gemfile
  package.json
  spec/components/tramway/form/builder_spec.rb
  spec/dummy/app/forms/admin/post_form.rb
  spec/forms/base_form_spec.rb
  spec/tramway/helpers/views_helpers/tramway_form_for_spec.rb
Due: rubocop

Fix tests
  app/components/tramway/form/builder.rb
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  gemfiles/rails_8.1.gemfile
  lib/tramway/helpers/views_helper.rb
  spec/tramway/helpers/views_helpers/tramway_form_for_spec.rb
Due: rubocop

Rubocop fixes
  app/components/tramway/form/builder.rb
  lib/tramway/helpers/views_helper.rb
  spec/forms/extendable_form_spec.rb
  spec/tramway/helpers/views_helpers/tramway_form_for_spec.rb
Due: rubocop

Remote submit for `tramway_form_for` (#188)
  README.md
  app/components/tramway/form/builder.rb
  app/components/tramway/form/checkbox_component.html.haml
  app/components/tramway/form/checkbox_component.rb
  app/components/tramway/form/date_field_component.html.haml
  app/components/tramway/form/datetime_field_component.html.haml
  app/components/tramway/form/label_component.html.haml
  app/components/tramway/form/label_component.rb
  app/components/tramway/form/number_field_component.html.haml
  app/components/tramway/form/select_component.html.haml
  app/components/tramway/form/text_area_component.html.haml
  app/components/tramway/form/text_field_component.html.haml
  app/components/tramway/form/time_field_component.html.haml
  app/components/tramway/form/tramway_select_component.html.haml
  config/tailwind.config.js
  docs/AGENTS.md
  lib/tramway/helpers/views_helper.rb
  package.json
  spec/components/tramway/form/builder_spec.rb
  spec/dummy/app/forms/admin/post_form.rb
  spec/forms/base_form_spec.rb
  spec/forms/extendable_form_spec.rb
  spec/tramway/helpers/views_helpers/tramway_form_for_spec.rb
Due: rubocop, eslint

Update version.rb
  lib/tramway/version.rb
Due: rubocop

Fix table preview
  app/assets/javascripts/tramway/table_row_preview_controller.js
  app/components/tramway/table/row/preview_component.html.haml
  app/components/tramway/table/row/preview_component.rb
  app/components/tramway/table/row_component.html.haml
  app/components/tramway/table/row_component.rb
  config/tailwind.config.js
  lib/generators/tramway/install/install_generator.rb
  spec/tramway/generators/install_generator_spec.rb
Due: rubocop, eslint

Fix styles
  app/components/tramway/table/row/preview_component.rb
  config/tailwind.config.js
Due: rubocop, eslint

AGENTS.md: include dry-monads usage
  docs/AGENTS.md
Due: none

Add preview argument to table_row
  README.md
  app/components/tramway/form/select_component.html.haml
  app/components/tramway/navbar_component.html.haml
  app/components/tramway/table/row_component.html.haml
  app/components/tramway/table/row_component.rb
  app/components/tramway/table_component.html.haml
  docs/AGENTS.md
  lib/tramway/helpers/views_helper.rb
  spec/components/tramway/table/row_component_spec.rb
  spec/tramway/helpers/views_helpers/tramway_row_spec.rb
Due: rubocop

Fix
  app/components/tramway/table/row_component.html.haml
Due: none

Fix checkbox component
  app/components/tailwind_component.rb
  config/tailwind.config.js
Due: rubocop, eslint

Fix
  lib/tramway/utils/field.rb
Due: rubocop

AGENTS.md: add example of using `tramway_chat`
  docs/AGENTS.md
Due: none

Fix tests
  spec/components/tramway/form/builder_spec.rb
  spec/features/form_for/base_spec.rb
Due: rubocop

Linter fixes
  app/components/tramway/table/row/preview_component.rb
  app/components/tramway/table/row_component.rb
  lib/generators/tramway/install/install_generator.rb
  spec/features/table/preview_spec.rb
  spec/tramway/generators/install_generator_spec.rb
Due: rubocop

Fix `tramway_table` mobile preview (#189)
  README.md
  app/assets/javascripts/tramway/table_row_preview_controller.js
  app/components/tailwind_component.rb
  app/components/tramway/form/select_component.html.haml
  app/components/tramway/navbar_component.html.haml
  app/components/tramway/table/row/preview_component.html.haml
  app/components/tramway/table/row/preview_component.rb
  app/components/tramway/table/row_component.html.haml
  app/components/tramway/table/row_component.rb
  app/components/tramway/table_component.html.haml
  config/tailwind.config.js
  docs/AGENTS.md
  lib/generators/tramway/install/install_generator.rb
  lib/tramway/helpers/views_helper.rb
  lib/tramway/utils/field.rb
  spec/components/tramway/form/builder_spec.rb
  spec/components/tramway/table/row_component_spec.rb
  spec/features/form_for/base_spec.rb
  spec/features/table/preview_spec.rb
  spec/tramway/generators/install_generator_spec.rb
  spec/tramway/helpers/views_helpers/tramway_row_spec.rb
Due: rubocop, eslint

Release 3.0.3
  lib/tramway/version.rb
Due: rubocop

Update navigation rules in AGENTS.md
  docs/AGENTS.md
Due: none

AGENTS.md: add Rule 34
  docs/AGENTS.md
Due: none

Update CI
  .github/workflows/test.yml
Due: none

Fix navbar item pointer
  app/components/tramway/nav/item/button_component.html.haml
Due: none

Release 3.0.3.1
  lib/tramway/version.rb
Due: rubocop

AGENTS.md: add Rule #35
  docs/AGENTS.md
Due: none

Change AGENTS.md file
  lib/generators/tramway/install/install_generator.rb
Due: rubocop

Release 3.0.3.2
  lib/generators/tramway/install/install_generator.rb
  lib/tramway/version.rb
  spec/tramway/generators/install_generator_spec.rb
Due: rubocop

Fix chat component scrolls
  app/components/tramway/chat_component.html.haml
  app/components/tramway/native_text_component.html.haml
  spec/components/tramway/chat_component_spec.rb
  spec/components/tramway/native_text_component_spec.rb
Due: rubocop

Release 3.0.3.3
  lib/tramway/version.rb
Due: rubocop

Fix tramway_container and tramway_main_container
  app/components/tramway/containers/main_component.html.haml
  app/components/tramway/containers/main_component.rb
  app/components/tramway/containers/narrow_component.html.haml
  app/components/tramway/containers/narrow_component.rb
Due: rubocop

Lazy load implemented
  README.md
  app/components/tramway/chat_component.html.haml
  app/components/tramway/chat_component.rb
  app/views/tramway/chats/_message.html.haml
  app/views/tramway/chats/_messages.html.haml
  lib/generators/tramway/install/install_generator.rb
  lib/tramway/chats/broadcast.rb
  spec/components/tramway/chat_component_spec.rb
Due: rubocop
