Repository Purple-Magic/tramway: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

lefthook.yml:

pre-commit:
  commands:
    rubocop:
      tags: backend style
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {all_files}
    eslint:
      tags: frontend style
      glob: "*.js"
      run: make eslint

Bump version to 4.0.1.4
  lib/tramway/version.rb
Due: rubocop

Add filters support to entities#index page
  README.md
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/entities/_filters.html.haml
  app/views/tramway/entities/_list.html.haml
  lib/tramway/configs/entities/page.rb
  lib/tramway/errors.rb
  spec/dummy/app/models/comment.rb
  spec/dummy/config/initializers/tramway.rb
  spec/initializers/tramway_load_routes_spec.rb
  spec/requests/tramway/entities_filters_spec.rb
Due: rubocop

Fix filter_counts breaking on index scopes with raw-SQL select aliases
  app/controllers/tramway/entities_controller.rb
Due: rubocop

Make entities#index filters table half-width
  app/views/tramway/entities/_filters.html.haml
  config/tailwind.config.js
Due: eslint

Use !w-1/2 for the filters table width
  app/views/tramway/entities/_filters.html.haml
  config/tailwind.config.js
Due: eslint

Replace filters table with collapsible clickable badges
  README.md
  app/assets/javascripts/tramway/tramway.js
  app/views/tramway/entities/_filters.html.haml
  config/locales/en.yml
  config/tailwind.config.js
  eslint.config.mjs
  lib/generators/tramway/install/install_generator.rb
  spec/dummy/app/javascript/controllers/index.js
  spec/tramway/generators/install_generator_spec.rb
Due: rubocop, eslint

Render filters as small buttons instead of badges
  README.md
  app/views/tramway/entities/_filters.html.haml
Due: none

Move filters toggle into the search/pagination control row
  README.md
  app/assets/javascripts/tramway/tramway.js
  app/views/tramway/entities/_filters.html.haml
  app/views/tramway/entities/_list.html.haml
  config/tailwind.config.js
Due: eslint

Fix filters toggle button not responding to clicks
  app/views/tramway/entities/_list.html.haml
  spec/requests/tramway/entities_filters_spec.rb
Due: rubocop

Actually highlight the currently applied filter button
  app/views/tramway/entities/_filters.html.haml
  spec/requests/tramway/entities_filters_spec.rb
Due: rubocop

Style inactive filter buttons and filters toggle like pagination buttons
  app/views/tramway/entities/_filters.html.haml
  app/views/tramway/entities/_list.html.haml
  spec/requests/tramway/entities_filters_spec.rb
Due: rubocop

Add a button to clear the currently applied filter
  app/views/tramway/entities/_filters.html.haml
  config/locales/en.yml
  spec/requests/tramway/entities_filters_spec.rb
Due: rubocop

Add filters support to entities#index (#197)
  README.md
  app/assets/javascripts/tramway/tramway.js
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/entities/_filters.html.haml
  app/views/tramway/entities/_list.html.haml
  config/locales/en.yml
  config/tailwind.config.js
  eslint.config.mjs
  lib/generators/tramway/install/install_generator.rb
  lib/tramway/configs/entities/page.rb
  lib/tramway/errors.rb
  spec/dummy/app/javascript/controllers/index.js
  spec/dummy/app/models/comment.rb
  spec/dummy/config/initializers/tramway.rb
  spec/initializers/tramway_load_routes_spec.rb
  spec/requests/tramway/entities_filters_spec.rb
  spec/tramway/generators/install_generator_spec.rb
Due: rubocop, eslint

Bump version to 4.0.2
  lib/tramway/version.rb
Due: rubocop

Add solid_queue gem as a development/test dependency
  Gemfile
  gemfiles/rails_8.0.gemfile
  gemfiles/rails_8.1.gemfile
Due: none

Add solid_queue tables to the dummy app schema
  .rubocop.yml
  spec/dummy/db/migrate/20261004000000_create_solid_queue_tables.rb
  spec/dummy/db/schema.rb
Due: rubocop

Add Tramway plugin registry and configuration DSL
  config/routes.rb
  lib/tramway/config.rb
  lib/tramway/configs/plugins.rb
  lib/tramway/errors.rb
  lib/tramway/navbar.rb
  lib/tramway/plugins.rb
  lib/tramway/plugins/base.rb
  lib/tramway/plugins/solid_queue.rb
  lib/tramway/plugins/solid_queue/config.rb
  lib/tramway/plugins/solid_queue/plugin.rb
  lib/tramway/plugins/solid_queue/routes.rb
  spec/tramway/configs/plugins_spec.rb
  spec/tramway/plugins/solid_queue/plugin_spec.rb
  spec/tramway/plugins_spec.rb
Due: rubocop

Add SolidQueue plugin dashboard
  .rubocop.yml
  app/controllers/tramway/plugins/solid_queue/application_controller.rb
  app/controllers/tramway/plugins/solid_queue/jobs_controller.rb
  app/controllers/tramway/plugins/solid_queue/queues_controller.rb
  app/controllers/tramway/plugins/solid_queue/recurring_tasks_controller.rb
  app/helpers/tramway/plugins/solid_queue/jobs_helper.rb
  app/views/tramway/plugins/solid_queue/_subnav.html.haml
  app/views/tramway/plugins/solid_queue/jobs/index.html.haml
  app/views/tramway/plugins/solid_queue/jobs/show.html.haml
  app/views/tramway/plugins/solid_queue/queues/index.html.haml
  app/views/tramway/plugins/solid_queue/recurring_tasks/index.html.haml
  config/locales/en.yml
  config/tailwind.config.js
  spec/dummy/app/jobs/application_job.rb
  spec/dummy/config/initializers/tramway.rb
  spec/requests/tramway/plugins/solid_queue/jobs_spec.rb
  spec/requests/tramway/plugins/solid_queue/queues_spec.rb
  spec/requests/tramway/plugins/solid_queue/recurring_tasks_spec.rb
Due: rubocop, eslint

Document the SolidQueue plugin
  README.md
  docs/users/tramway_solid_queue_plugin.md
Due: none

Point AI agents to tramway-skill at the top of the README
  README.md
Due: none

Auto-refresh SolidQueue plugin dashboard pages without a full reload
  README.md
  app/assets/javascripts/tramway/tramway.js
  app/views/tramway/plugins/solid_queue/jobs/index.html.haml
  app/views/tramway/plugins/solid_queue/jobs/show.html.haml
  app/views/tramway/plugins/solid_queue/queues/index.html.haml
  app/views/tramway/plugins/solid_queue/recurring_tasks/index.html.haml
  docs/users/tramway_solid_queue_plugin.md
  spec/dummy/app/javascript/controllers/index.js
  spec/requests/tramway/plugins/solid_queue/jobs_spec.rb
  spec/requests/tramway/plugins/solid_queue/queues_spec.rb
  spec/requests/tramway/plugins/solid_queue/recurring_tasks_spec.rb
Due: rubocop, eslint

Add per-queue throughput to the SolidQueue plugin queues page
  README.md
  app/helpers/tramway/plugins/solid_queue/queues_helper.rb
  app/views/tramway/plugins/solid_queue/queues/index.html.haml
  config/locales/en.yml
  docs/users/tramway_solid_queue_plugin.md
  spec/requests/tramway/plugins/solid_queue/queues_spec.rb
Due: rubocop

Add "Destroy all" bulk action to the SolidQueue plugin jobs page
  README.md
  app/controllers/tramway/plugins/solid_queue/jobs_controller.rb
  app/views/tramway/plugins/solid_queue/jobs/index.html.haml
  config/locales/en.yml
  docs/users/tramway_solid_queue_plugin.md
  lib/tramway/plugins/solid_queue/routes.rb
  spec/requests/tramway/plugins/solid_queue/jobs_spec.rb
Due: rubocop

Run SolidQueue plugin bulk actions as background jobs
  README.md
  app/controllers/tramway/plugins/solid_queue/jobs_controller.rb
  app/jobs/tramway/solid_queue/application_job.rb
  app/jobs/tramway/solid_queue/bulk_destroy_job.rb
  app/jobs/tramway/solid_queue/bulk_discard_job.rb
  app/jobs/tramway/solid_queue/bulk_retry_job.rb
  app/jobs/tramway/solid_queue/destroy_all_job.rb
  app/models/tramway/solid_queue/jobs_filter.rb
  config/locales/en.yml
  docs/users/tramway_solid_queue_plugin.md
  spec/jobs/tramway/solid_queue/bulk_destroy_job_spec.rb
  spec/jobs/tramway/solid_queue/bulk_discard_job_spec.rb
  spec/jobs/tramway/solid_queue/bulk_retry_job_spec.rb
  spec/jobs/tramway/solid_queue/destroy_all_job_spec.rb
  spec/requests/tramway/plugins/solid_queue/jobs_spec.rb
Due: rubocop

Configure dedicated SolidQueue worker queue in tramway:install
  lib/generators/tramway/install/install_generator.rb
  lib/generators/tramway/install/solid_queue_helpers.rb
  spec/tramway/generators/install_generator_spec.rb
Due: rubocop

Show jobs currently running per queue on the queues page
  README.md
  app/helpers/tramway/plugins/solid_queue/queues_helper.rb
  app/views/tramway/plugins/solid_queue/queues/index.html.haml
  config/locales/en.yml
  docs/users/tramway_solid_queue_plugin.md
  spec/requests/tramway/plugins/solid_queue/queues_spec.rb
Due: rubocop

Fix CI: restore rubocop-compliant gemfile style and schema version
  gemfiles/rails_8.0.gemfile
  gemfiles/rails_8.1.gemfile
  spec/dummy/db/schema.rb
Due: rubocop

Bump version to 4.1
  lib/tramway/version.rb
Due: rubocop

Fix crash in tramway-select autocomplete when an option has a nil label
  .agents/plugin-fixes.md
  AGENTS.md
  CLAUDE.md
  app/assets/javascripts/tramway/tramway.js
  spec/dummy/app/views/users/new.html.haml
  spec/features/tramway_select/autocomplete_spec.rb
Due: rubocop, eslint

Support combining autocomplete with multiple on tramway_select
  README.md
  app/assets/javascripts/tramway/tramway.js
  spec/dummy/app/forms/user_form.rb
  spec/dummy/app/models/user.rb
  spec/dummy/app/views/users/new.html.haml
  spec/features/tramway_select/autocomplete_spec.rb
  spec/support/tramway_select_helpers.rb
Due: rubocop, eslint

Bump version to 4.1.0.1
  lib/tramway/version.rb
Due: rubocop

Add Custom Pages: let host apps define their own entity actions
  config/routes.rb
  lib/tramway/configs/entities/page.rb
  lib/tramway/configs/entity.rb
  spec/initializers/tramway_load_routes_spec.rb
  spec/tramway/configs/entities/page_spec.rb
  spec/tramway/configs/entity_spec.rb
Due: rubocop

Add dummy app example and request specs for Custom Pages
  spec/dummy/app/controllers/admin/posts_controller.rb
  spec/dummy/app/views/admin/posts/export.html.haml
  spec/dummy/app/views/admin/posts/stats.html.haml
  spec/dummy/config/initializers/tramway.rb
  spec/requests/tramway/entities_custom_pages_spec.rb
Due: rubocop

Document Custom Pages in README and docs/users
  README.md
  docs/users/tramway_custom_pages.md
Due: none

Fix crash when redisplaying a saved value on autocomplete/multiple selects
  app/components/tramway/form/tramway_select_component.rb
  spec/dummy/app/views/users/new.html.haml
  spec/features/tramway_select/saved_value_spec.rb
Due: rubocop

Add truncate: false option to tramway_cell
  README.md
  app/components/tramway/table/cell_component.rb
  lib/tramway/helpers/views_helper.rb
  spec/components/tramway/table/cell_component_spec.rb
  spec/tramway/helpers/views_helpers/tramway_cell_spec.rb
  spec/tramway/helpers/views_helpers/tramway_table_spec.rb
Due: rubocop

Support Hash entries in show_attributes with per-attribute Cell options
  README.md
  app/views/tramway/entities/show.html.haml
  lib/tramway/base_decorator.rb
  spec/decorators/base_decorator_spec.rb
  spec/dummy/app/decorators/admin/post_decorator.rb
  spec/features/entities/show_spec.rb
Due: rubocop

Custom Pages, tramway_cell truncate option, and Hash show_attributes (#199)
  README.md
  app/components/tramway/form/tramway_select_component.rb
  app/components/tramway/table/cell_component.rb
  app/views/tramway/entities/show.html.haml
  config/routes.rb
  docs/users/tramway_custom_pages.md
  lib/tramway/base_decorator.rb
  lib/tramway/configs/entities/page.rb
  lib/tramway/configs/entity.rb
  lib/tramway/helpers/views_helper.rb
  spec/components/tramway/table/cell_component_spec.rb
  spec/decorators/base_decorator_spec.rb
  spec/dummy/app/controllers/admin/posts_controller.rb
  spec/dummy/app/decorators/admin/post_decorator.rb
  spec/dummy/app/views/admin/posts/export.html.haml
  spec/dummy/app/views/admin/posts/stats.html.haml
  spec/dummy/app/views/users/new.html.haml
  spec/dummy/config/initializers/tramway.rb
  spec/features/entities/show_spec.rb
  spec/features/tramway_select/saved_value_spec.rb
  spec/initializers/tramway_load_routes_spec.rb
  spec/requests/tramway/entities_custom_pages_spec.rb
  spec/tramway/configs/entities/page_spec.rb
  spec/tramway/configs/entity_spec.rb
  spec/tramway/helpers/views_helpers/tramway_cell_spec.rb
  spec/tramway/helpers/views_helpers/tramway_table_spec.rb
Due: rubocop

Bump version to 4.1.1
  lib/tramway/version.rb
Due: rubocop
