Repository Purple-Magic/tramway: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

rubocop:
  tags: backend style
  run: bundle exec rubocop --force-exclusion {all_files}

eslint:
  tags: frontend style
  run: make eslint

Update tailwind.config.js
  config/tailwind.config.js
Due: eslint

Fix
  config/tailwind.config.js
Due: eslint

Linter fix
  lib/tramway/helpers/views_helper.rb
Due: rubocop

Fix
  spec/components/tailwinds/back_button_component_spec.rb
  spec/components/tailwinds/button_component_spec.rb
  spec/components/tailwinds/navbar_component_spec.rb
Due: rubocop

Buttons (#117)
  app/components/tailwinds/back_button_component.html.haml
  app/components/tailwinds/back_button_component.rb
  app/components/tailwinds/base_component.rb
  app/components/tailwinds/button_component.html.haml
  app/components/tailwinds/button_component.rb
  lib/tramway/helpers/views_helper.rb
  spec/components/tailwinds/back_button_component_spec.rb
  spec/components/tailwinds/button_component_spec.rb
  spec/components/tailwinds/navbar_component_spec.rb
  spec/rails_helper.rb
  spec/tramway/helpers/views_helper_spec.rb
Due: rubocop

Release 0.6
  lib/tramway/version.rb
Due: rubocop

Update README examples for ERB helpers
  README.md
Due: none

Update README examples for ERB helpers (#118)
  README.md
Due: none

Update README.md
  README.md
Due: none

Fix tramway entity view
  app/views/tramway/entities/_list.html.haml
  app/views/tramway/entities/index.html.haml
Due: none

Release 0.6.0.1
  lib/tramway/version.rb
Due: rubocop

Document entity scope usage
  README.md
Due: none

Document entity scope usage (#119)
  README.md
Due: none

Add tramway_header herlper
  README.md
  lib/tramway/helpers/views_helper.rb
Due: rubocop

Release 0.6.0.2
  lib/tramway/version.rb
Due: rubocop

Fix
  lib/tramway/helpers/views_helper.rb
Due: rubocop

Release 0.6.0.3
  lib/tramway/version.rb
Due: rubocop

Default tramway buttons to button_to with optional link mode
  README.md
  app/components/tailwinds/button_component.html.haml
  app/components/tailwinds/button_component.rb
  lib/tramway/helpers/views_helper.rb
  spec/components/tailwinds/button_component_spec.rb
  spec/tramway/helpers/views_helper_spec.rb
Due: rubocop

Fix tests
  spec/components/tailwinds/button_component_spec.rb
  spec/tramway/helpers/views_helper_spec.rb
Due: rubocop

Default tramway buttons to button_to with optional link mode (#120)
  README.md
  app/components/tailwinds/button_component.html.haml
  app/components/tailwinds/button_component.rb
  lib/tramway/helpers/views_helper.rb
  spec/components/tailwinds/button_component_spec.rb
  spec/tramway/helpers/views_helper_spec.rb
Due: rubocop

Map Tailwinds button types to semantic colors
  app/components/tailwinds/button_component.rb
  spec/components/tailwinds/button_component_spec.rb
  spec/tramway/helpers/views_helper_spec.rb
Due: rubocop

Document button type palette and custom colors
  README.md
Due: none

Safelist button color utility classes
  config/tailwind.config.js
Due: eslint

Fix buttons
  app/components/tailwinds/button_component.rb
  config/tailwind.config.js
Due: rubocop, eslint

Fix tests
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  gemfiles/rails_8.1.gemfile
  spec/components/tailwinds/button_component_spec.rb
  spec/tramway/helpers/views_helper_spec.rb
Due: rubocop

Fix small buttons
  app/components/tailwinds/button_component.rb
  config/tailwind.config.js
Due: rubocop, eslint

Fix linter
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  gemfiles/rails_8.1.gemfile
Due: none

Fix test
  spec/components/tailwinds/button_component_spec.rb
Due: rubocop

Map Tailwinds button types to semantic colors (#121)
  README.md
  app/components/tailwinds/button_component.rb
  config/tailwind.config.js
  spec/components/tailwinds/button_component_spec.rb
  spec/tramway/helpers/views_helper_spec.rb
Due: rubocop, eslint

Release 0.6.1
  lib/tramway/version.rb
Due: rubocop

Fix container
  app/components/tailwinds/containers/narrow_component.html.haml
Due: none

Fix container (#122)
  app/components/tailwinds/containers/narrow_component.html.haml
Due: none

Release 0.6.1.1
  lib/tramway/version.rb
Due: rubocop

Fix submit button
  app/components/tailwinds/button_component.rb
  app/components/tailwinds/form/submit_button_component.html.haml
Due: rubocop

Fix button
  app/components/tailwinds/button_component.html.haml
  app/components/tailwinds/button_component.rb
  app/components/tailwinds/form/submit_button_component.html.haml
  lib/tramway/helpers/views_helper.rb
Due: rubocop

Fix
  app/components/tailwinds/button_component.html.haml
Due: none

Fix submit button (#123)
  app/components/tailwinds/button_component.html.haml
  app/components/tailwinds/button_component.rb
  app/components/tailwinds/form/submit_button_component.html.haml
  lib/tramway/helpers/views_helper.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  eslint: any of: *.js
