Repository Purple-Magic/tramway: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

lefthook.yml:

pre-commit:
  commands:
    rubocop:
      tags: backend style
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {all_files}
    eslint:
      tags: frontend style
      glob: "*.js"
      run: make eslint

Linters fix
  config/routes.rb
  lib/tramway/decorators/class_helper.rb
Due: rubocop

Fix routes (#129)
  app/controllers/tramway/entities_controller.rb
  config/routes.rb
  lib/tramway/decorators/class_helper.rb
Due: rubocop

Release 1.0.0.1
  lib/tramway/version.rb
Due: rubocop

Add README example for index header content
  README.md
Due: none

Add README example for index header content (#130)
  README.md
Due: none

Add files via upload
  docs/logo.png
Due: none

Fix select input
  app/components/tailwinds/form/select_component.html.haml
Due: none

Release 1.0.0.2
  lib/tramway/version.rb
Due: rubocop

Update README.md
  README.md
Due: none

Add badge to the Tramway
  app/components/tailwinds/badge_component.html.haml
  app/components/tailwinds/badge_component.rb
  app/components/tailwinds/base_component.rb
  app/components/tailwinds/button_component.rb
  lib/tramway/helpers/views_helper.rb
Due: rubocop

Add tests for Tailwinds badge component and helper
  spec/components/tailwinds/badge_component_spec.rb
  spec/tramway/helpers/views_helper_spec.rb
Due: rubocop

Add tests for Tailwinds badge component and helper (#131)
  spec/components/tailwinds/badge_component_spec.rb
  spec/tramway/helpers/views_helper_spec.rb
Due: rubocop

Add `tramway_badge` (#132)
  app/components/tailwinds/badge_component.html.haml
  app/components/tailwinds/badge_component.rb
  app/components/tailwinds/base_component.rb
  app/components/tailwinds/button_component.rb
  lib/tramway/helpers/views_helper.rb
  spec/components/tailwinds/badge_component_spec.rb
  spec/tramway/helpers/views_helper_spec.rb
Due: rubocop

Release 1.0.1
  lib/tramway/version.rb
Due: rubocop

Enhance UserDecorator with email delegation
  README.md
Due: none

delegate created_at
  README.md
Due: none

Change show_attributes to instance method
  README.md
Due: none

use class method as on readme
  app/views/tramway/entities/show.html.haml
Due: none

Revert "Change show_attributes to instance method"
  README.md
Due: none

display title as 4xl
  app/views/tramway/entities/show.html.haml
Due: none

Revert "use class method as on readme"
  app/views/tramway/entities/show.html.haml
Due: none

* display pagination on rigth side * added more space before pagination
  app/components/tailwinds/pagination/gap_component.html.haml
Due: none

Fix badge styles
  app/components/tailwinds/badge_component.rb
  config/tailwind.config.js
Due: rubocop, eslint

Release 1.0.1.1
  lib/tramway/version.rb
Due: rubocop

call show attrs from instance
  README.md
Due: none

Pundit
  app/controllers/tramway/entities_controller.rb
  lib/tramway/configs/entities/permission.rb
  lib/tramway/configs/entity.rb
Due: rubocop

check_permission show/index
  app/controllers/tramway/entities_controller.rb
Due: rubocop

check_permission
  app/controllers/tramway/entities_controller.rb
Due: rubocop

Fix pundit integration
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/entities/show.html.haml
Due: rubocop

Enhance UserDecorator with email delegation (#133)
  README.md
  app/components/tailwinds/pagination/gap_component.html.haml
  app/views/tramway/entities/show.html.haml
Due: none

Linters fix
  app/components/tailwinds/form/builder.rb
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  gemfiles/rails_8.1.gemfile
  package.json
  spec/tramway/configs/entity_spec.rb
Due: rubocop

Linters fix
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  gemfiles/rails_8.1.gemfile
Due: none

Fix table view
  app/views/tramway/entities/_list.html.haml
Due: none

Release 1.0.1.2
  lib/tramway/version.rb
Due: rubocop

Document default tramway_navbar behavior
  README.md
Due: none
