Repository Purple-Magic/tramway: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

rubocop:
  tags: backend style
  run: bundle exec rubocop --force-exclusion {all_files}

eslint:
  tags: frontend style
  run: make eslint

Fix rubocop linters
  lib/tramway/chats/broadcast.rb
  spec/components/tramway/chat_component_spec.rb
Due: rubocop

Tramway Chat Lazy Loading (#190)
  README.md
  app/components/tramway/chat_component.html.haml
  app/components/tramway/chat_component.rb
  app/views/tramway/chats/_message.html.haml
  app/views/tramway/chats/_messages.html.haml
  lib/generators/tramway/install/install_generator.rb
  lib/tramway/chats/broadcast.rb
  spec/components/tramway/chat_component_spec.rb
Due: rubocop

Bump version to 3.0.4
  lib/tramway/version.rb
Due: rubocop

Fix header cells rendering
  app/components/tramway/table/content_cells.rb
  app/components/tramway/table/header_component.html.haml
  app/components/tramway/table/header_component.rb
  app/components/tramway/table/row_component.rb
  spec/components/tramway/table/header_component_spec.rb
Due: rubocop

Release 3.0.4.1
  lib/tramway/version.rb
Due: rubocop

Update management of AGENTS.md file
  README.md
  docs/AGENTS.md
  lib/generators/tramway/install/install_generator.rb
  spec/tramway/generators/install_generator_spec.rb
Due: rubocop

Release 3.0.4.2
  lib/tramway/version.rb
Due: rubocop

Checkbox works
  AGENTS.md
  app/components/tramway/form/checkbox_component.rb
  spec/components/tramway/form/builder_spec.rb
Due: rubocop

Looks like working normally
  AGENTS.md
  README.md
  app/components/tramway/back_button_component.rb
  app/components/tramway/button_component.rb
  app/components/tramway/chats/messages/table_component.html.haml
  app/components/tramway/colors_methods.rb
  app/components/tramway/containers/narrow_component.rb
  app/components/tramway/entity_component.html.haml
  app/components/tramway/flash_component.rb
  app/components/tramway/form/builder.rb
  app/components/tramway/form/checkbox_component.rb
  app/views/tramway/entities/_list.html.haml
  app/views/tramway/entities/show.html.haml
  app/views/tramway/layouts/application.html.haml
  config/tailwind.config.js
  docs/AGENTS.md
  spec/components/tramway/back_button_component_spec.rb
  spec/components/tramway/button_component_spec.rb
  spec/components/tramway/form/builder_spec.rb
  spec/features/form_for/base_spec.rb
  spec/features/table/base_spec.rb
  spec/support/theme_helper.rb
  spec/tramway/helpers/views_helpers/tramway_button_spec.rb
Due: rubocop, eslint

Button is no the way, containers is on the way
  README.md
  app/assets/stylesheets/shadcn.css
  app/components/tramway/button_component.rb
  app/components/tramway/containers/main_component.rb
  app/components/tramway/containers/narrow_component.rb
  app/views/tramway/layouts/application.html.haml
  config/tailwind.config.js
  docs/AGENTS.md
  lib/generators/tramway/install/install_generator.rb
  spec/tramway/generators/install_generator_spec.rb
Due: rubocop, eslint

Button colors are nice
  app/components/tramway/button_component.rb
  app/components/tramway/colors_methods.rb
  app/views/tramway/entities/_list.html.haml
  config/tailwind.config.js
Due: rubocop, eslint

Button colors work
  app/components/tramway/button_component.rb
  app/components/tramway/colors_methods.rb
  app/views/tramway/entities/_list.html.haml
  config/tailwind.config.js
Due: rubocop, eslint

Navbar is ready
  app/components/tramway/nav/item_component.rb
  app/components/tramway/navbar_component.html.haml
  app/components/tramway/navbar_component.rb
Due: rubocop

Implemented table
  app/assets/stylesheets/shadcn.css
  app/components/tramway/table/cell_component.rb
  app/components/tramway/table/header_component.html.haml
  app/components/tramway/table/header_component.rb
  app/components/tramway/table/row_component.html.haml
  app/components/tramway/table/row_component.rb
  app/components/tramway/table_component.rb
  app/views/tramway/entities/_list.html.haml
  config/tailwind.config.js
Due: rubocop, eslint

Update tramway chat styles
  README.md
  app/components/tramway/chat_component.html.haml
  app/components/tramway/chats/message_component.html.haml
  app/components/tramway/chats/message_component.rb
  app/components/tramway/chats/messages/container_component.html.haml
  app/components/tramway/chats/messages/container_component.rb
  app/components/tramway/chats/messages/table_component.html.haml
  config/tailwind.config.js
  docs/AGENTS.md
  lib/generators/tramway/install/install_generator.rb
  spec/tramway/generators/install_generator_spec.rb
Due: rubocop, eslint

Fix
  app/components/tramway/navbar_component.rb
Due: rubocop

Update form
  AGENTS.md
  README.md
  app/components/tailwind_component.rb
  app/components/tramway/button_component.rb
  app/components/tramway/colors_methods.rb
  app/components/tramway/form/builder.rb
  app/components/tramway/form/label_component.rb
  app/components/tramway/form/tramway_select/dropdown_container_component.rb
  app/components/tramway/form/tramway_select/item_container_component.rb
  app/components/tramway/form/tramway_select/select_as_input_component.rb
  app/components/tramway/form/tramway_select/selected_item_template_component.rb
  app/components/tramway/nav/item_component.rb
  app/components/tramway/navbar_component.rb
  app/components/tramway/table/row_component.rb
  app/views/tramway/entities/_form.html.haml
  config/tailwind.config.js
  spec/components/tramway/badge_component_spec.rb
  spec/components/tramway/button_component_spec.rb
  spec/components/tramway/chat_component_spec.rb
  spec/components/tramway/chats/message_component_spec.rb
  spec/components/tramway/chats/messages/table_component_spec.rb
  spec/components/tramway/form/builder_spec.rb
  spec/features/form_for/base_spec.rb
  spec/features/table/base_spec.rb
  spec/tramway/generators/install_generator_spec.rb
Due: rubocop, eslint

Update button size argument
  README.md
  app/components/tramway/button_component.rb
  spec/components/tramway/button_component_spec.rb
  spec/components/tramway/form/builder_spec.rb
Due: rubocop

Bump version to 3.1
  lib/tramway/version.rb
Due: rubocop

Update styles for checkbox, flash and pagination
  README.md
  app/assets/javascripts/tramway/ui_checkbox_controller.js
  app/components/tramway/flash_component.html.haml
  app/components/tramway/flash_component.rb
  app/components/tramway/form/checkbox_component.html.haml
  app/components/tramway/form/checkbox_component.rb
  app/components/tramway/form/label_component.html.haml
  app/components/tramway/pagination/base.rb
  app/components/tramway/pagination/gap_component.rb
  app/components/tramway/pagination/page_component.rb
  config/tailwind.config.js
  lib/generators/tramway/install/install_generator.rb
  lib/tramway/engine.rb
  spec/components/tramway/form/builder_spec.rb
  spec/components/tramway/pagination/base_spec.rb
  spec/components/tramway/pagination/gap_component_spec.rb
  spec/components/tramway/pagination/page_component_spec.rb
  spec/dummy/app/assets/config/manifest.js
  spec/dummy/app/javascript/controllers/index.js
  spec/dummy/config/importmap.rb
  spec/features/form_for/base_spec.rb
  spec/tramway/generators/install_generator_spec.rb
  spec/tramway/helpers/views_helpers/tramway_flash_spec.rb
Due: rubocop, eslint

Update tramway_badge style
  README.md
  app/components/tramway/badge_component.rb
  app/components/tramway/button_component.rb
  app/components/tramway/form/builder.rb
  app/views/tramway/entities/_form.html.haml
  config/tailwind.config.js
  spec/components/tramway/badge_component_spec.rb
  spec/components/tramway/button_component_spec.rb
  spec/components/tramway/form/builder_spec.rb
Due: rubocop, eslint

Implement duplication
  app/controllers/tramway/entities_controller.rb
  config/routes.rb
  lib/tramway/configs/entity.rb
  spec/initializers/tramway_load_routes_spec.rb
Due: rubocop

Implement tooltip
  README.md
  app/components/tramway/tooltip_component.html.haml
  app/components/tramway/tooltip_component.rb
  config/tailwind.config.js
  lib/tramway/helpers/views_helper.rb
  spec/components/tramway/tooltip_component_spec.rb
  spec/tramway/helpers/views_helpers/tramway_tooltip_spec.rb
Due: rubocop, eslint

Make tooltip working
  README.md
  app/assets/javascripts/tramway/tooltip_controller.js
  app/components/tramway/button_component.html.haml
  app/components/tramway/button_component.rb
  app/components/tramway/tooltip_component.html.haml
  app/components/tramway/tooltip_component.rb
  config/tailwind.config.js
  lib/generators/tramway/install/install_generator.rb
  lib/tramway/engine.rb
  lib/tramway/helpers/views_helper.rb
  spec/components/tramway/button_component_spec.rb
  spec/components/tramway/tooltip_component_spec.rb
  spec/dummy/app/assets/config/manifest.js
  spec/dummy/app/javascript/controllers/index.js
  spec/dummy/config/importmap.rb
  spec/tramway/generators/install_generator_spec.rb
  spec/tramway/helpers/views_helpers/tramway_button_spec.rb
Due: rubocop, eslint

Fix tooltip width
  README.md
  app/components/tramway/tooltip_component.rb
  config/tailwind.config.js
  spec/components/tramway/tooltip_component_spec.rb
Due: rubocop, eslint

Merge Javascript files
  README.md
  app/assets/javascripts/tramway/table_row_preview_controller.js
  app/assets/javascripts/tramway/tooltip_controller.js
  app/assets/javascripts/tramway/tramway-select_controller.js
  app/assets/javascripts/tramway/tramway.js
  app/assets/javascripts/tramway/ui_checkbox_controller.js
  lib/generators/tramway/install/install_generator.rb
  lib/tramway/engine.rb
  spec/dummy/app/assets/config/manifest.js
  spec/dummy/app/javascript/controllers/index.js
  spec/dummy/config/importmap.rb
  spec/tramway/generators/install_generator_spec.rb
Due: rubocop, eslint

Tooltip component (#192)
  README.md
  app/assets/javascripts/tramway/table_row_preview_controller.js
  app/assets/javascripts/tramway/tramway-select_controller.js
  app/assets/javascripts/tramway/tramway.js
  app/assets/javascripts/tramway/ui_checkbox_controller.js
  app/components/tramway/button_component.html.haml
  app/components/tramway/button_component.rb
  app/components/tramway/tooltip_component.html.haml
  app/components/tramway/tooltip_component.rb
  config/tailwind.config.js
  lib/generators/tramway/install/install_generator.rb
  lib/tramway/engine.rb
  lib/tramway/helpers/views_helper.rb
  spec/components/tramway/button_component_spec.rb
  spec/components/tramway/tooltip_component_spec.rb
  spec/dummy/app/assets/config/manifest.js
  spec/dummy/app/javascript/controllers/index.js
  spec/dummy/config/importmap.rb
  spec/tramway/generators/install_generator_spec.rb
  spec/tramway/helpers/views_helpers/tramway_button_spec.rb
  spec/tramway/helpers/views_helpers/tramway_tooltip_spec.rb
Due: rubocop, eslint

Bump version to 3.1.1
  lib/tramway/version.rb
Due: rubocop

Fix tramway button sizes
  app/components/tramway/button_component.rb
  spec/components/tramway/button_component_spec.rb
Due: rubocop

Fix multiselect size
  app/components/tramway/form/tramway_select/selected_item_template_component.rb
  app/components/tramway/form/tramway_select_component.html.haml
  app/components/tramway/form/tramway_select_component.rb
  config/tailwind.config.js
  spec/dummy/app/views/users/new.html.haml
  spec/features/tramway_select/multiple_spec.rb
Due: rubocop, eslint

Bump version from 3.1.1 to 3.1.1.1
  lib/tramway/version.rb
Due: rubocop

Bump version to 3.1.1.2
  lib/tramway/version.rb
Due: rubocop

Fix button text align
  app/components/tramway/button_component.rb
  spec/components/tramway/button_component_spec.rb
Due: rubocop

Bump version to 3.1.1.3
  lib/tramway/version.rb
Due: rubocop

Add calendar component
  README.md
  app/components/tramway/form/builder.rb
  app/components/tramway/form/calendar_component.html.haml
  app/components/tramway/form/calendar_component.rb
  config/tailwind.config.js
  spec/components/tramway/form/builder_spec.rb
  spec/components/tramway/form/calendar_component_spec.rb
Due: rubocop, eslint

Add `checkbox` alias for Tramway::Form::Builder
  AGENTS.md
  README.md
  app/components/tramway/form/builder.rb
  spec/components/tramway/form/builder_spec.rb
Due: rubocop

Add rich_text_area
  README.md
  app/assets/javascripts/tramway/tramway.js
  app/components/tramway/form/builder.rb
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/entities/edit.html.haml
  app/views/tramway/entities/new.html.haml
  config/tailwind.config.js
  lib/tramway/base_form.rb
  lib/tramway/utils/field.rb
  spec/components/tramway/form/builder_spec.rb
  spec/features/entities/update_spec.rb
  spec/forms/base_form_spec.rb
Due: rubocop, eslint

Fix
  app/components/tramway/table/row_component.html.haml
Due: none

Path conditions:
  rubocop: any of: *.rb
  eslint: any of: *.js
