Repository Purple-Magic/tramway: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

rubocop:
  tags: backend style
  run: bundle exec rubocop --force-exclusion {all_files}

eslint:
  tags: frontend style
  run: make eslint

Rubocop fixes
  lib/generators/tramway/install/install_generator.rb
  spec/tramway/generators/install_generator_spec.rb
Due: rubocop

Document tramway_flash usage for user notifications
  docs/AGENTS.md
Due: none

Sanitize fetched AGENTS template to avoid duplicated section markers (#184)
  lib/generators/tramway/install/install_generator.rb
  spec/tramway/generators/install_generator_spec.rb
Due: rubocop

Update version.rb
  lib/tramway/version.rb
Due: rubocop

Update AGENTS.md
  docs/AGENTS.md
Due: none

AGENTS.md: update `tramway_form_for` example
  docs/AGENTS.md
Due: none

Implement show_associations
  app/components/tramway/comments/show_path_component.html.haml
  app/components/tramway/comments/show_path_component.rb
  app/components/tramway/form/date_field_component.html.haml
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/entities/_form.html.haml
  app/views/tramway/entities/show.html.haml
  config/tailwind.config.js
Due: rubocop, eslint

Updates
  app/components/tramway/form/builder.rb
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  gemfiles/rails_8.1.gemfile
  lib/tramway/helpers/views_helper.rb
  package.json
Due: rubocop

Fix rubocop
  app/components/tramway/comments/show_path_component.rb
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/entities/_list.html.haml
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  gemfiles/rails_8.1.gemfile
  lib/tramway/config.rb
  lib/tramway/engine.rb
Due: rubocop

Fix
  app/components/tramway/form/builder.rb
  spec/dummy/config/environments/development.rb
  spec/dummy/config/environments/production.rb
Due: rubocop

Fix
  app/components/tramway/form/builder.rb
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/entities/_form.html.haml
  lib/tramway/utils/field.rb
  spec/dummy/config/initializers/tramway.rb
  spec/tramway/config_spec.rb
Due: rubocop

Show associations improvements (#185)
  app/components/tramway/comments/show_path_component.html.haml
  app/components/tramway/comments/show_path_component.rb
  app/components/tramway/form/builder.rb
  app/components/tramway/form/date_field_component.html.haml
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/entities/_form.html.haml
  app/views/tramway/entities/_list.html.haml
  app/views/tramway/entities/show.html.haml
  config/tailwind.config.js
  lib/tramway/config.rb
  lib/tramway/engine.rb
  lib/tramway/helpers/views_helper.rb
  lib/tramway/utils/field.rb
  package.json
  spec/dummy/config/environments/development.rb
  spec/dummy/config/environments/production.rb
  spec/dummy/config/initializers/tramway.rb
  spec/tramway/config_spec.rb
Due: rubocop, eslint

Bump version to 3.0
  lib/tramway/version.rb
Due: rubocop

Tramway Form: change `value` populating approach
  lib/tramway/utils/field.rb
  spec/dummy/app/forms/admin/post_form.rb
Due: rubocop

Update README.md and AGENTS.md
  README.md
  docs/AGENTS.md
Due: none

`tramway_form_for`: add time_field
  app/components/tramway/form/builder.rb
  app/components/tramway/form/time_field_component.html.haml
  app/components/tramway/form/time_field_component.rb
  config/routes.rb
  spec/components/tramway/form/builder_spec.rb
Due: rubocop

`tramway_form_for`: fix file_field styles
  app/components/tailwind_component.rb
  spec/components/tramway/form/builder_spec.rb
  spec/features/form_for/base_spec.rb
Due: rubocop

Fix pagination style
  app/views/kaminari/_paginator.html.haml
  app/views/tramway/entities/_list.html.haml
  config/tailwind.config.js
Due: eslint

Implement horizontal argument
  app/components/tailwind_component.rb
  app/components/tramway/form/builder.rb
  app/components/tramway/form/checkbox_component.html.haml
  app/components/tramway/form/date_field_component.html.haml
  app/components/tramway/form/datetime_field_component.html.haml
  app/components/tramway/form/file_field_component.html.haml
  app/components/tramway/form/multiselect_component.html.haml
  app/components/tramway/form/number_field_component.html.haml
  app/components/tramway/form/select_component.html.haml
  app/components/tramway/form/text_area_component.html.haml
  app/components/tramway/form/text_field_component.html.haml
  app/components/tramway/form/time_field_component.html.haml
  app/views/tramway/entities/_list.html.haml
  config/locales/en.yml
  lib/tramway/configs/entities/page.rb
Due: rubocop

Search is implemented
  README.md
  app/components/tramway/form/builder.rb
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/entities/_list.html.haml
  docs/AGENTS.md
  lib/tramway/engine.rb
  lib/tramway/searchable.rb
  lib/tramway/warnings.rb
  spec/dummy/app/models/post.rb
  spec/dummy/config/initializers/tramway.rb
  spec/features/entities/search_spec.rb
  spec/initializers/tramway_load_routes_spec.rb
  spec/tramway/helpers/views_helpers/tramway_form_for_spec.rb
Due: rubocop

Fix tests
  spec/features/entities/search_spec.rb
Due: rubocop

Implement Search for Tramway CRUD index page (#186)
  README.md
  app/components/tailwind_component.rb
  app/components/tramway/form/builder.rb
  app/components/tramway/form/checkbox_component.html.haml
  app/components/tramway/form/date_field_component.html.haml
  app/components/tramway/form/datetime_field_component.html.haml
  app/components/tramway/form/file_field_component.html.haml
  app/components/tramway/form/multiselect_component.html.haml
  app/components/tramway/form/number_field_component.html.haml
  app/components/tramway/form/select_component.html.haml
  app/components/tramway/form/text_area_component.html.haml
  app/components/tramway/form/text_field_component.html.haml
  app/components/tramway/form/time_field_component.html.haml
  app/controllers/tramway/entities_controller.rb
  app/views/kaminari/_paginator.html.haml
  app/views/tramway/entities/_list.html.haml
  config/locales/en.yml
  config/tailwind.config.js
  docs/AGENTS.md
  lib/tramway/configs/entities/page.rb
  lib/tramway/engine.rb
  lib/tramway/searchable.rb
  lib/tramway/warnings.rb
  spec/dummy/app/models/post.rb
  spec/dummy/config/initializers/tramway.rb
  spec/features/entities/search_spec.rb
  spec/initializers/tramway_load_routes_spec.rb
  spec/tramway/helpers/views_helpers/tramway_form_for_spec.rb
Due: rubocop, eslint

Tramway CRUD: upgrade search feature
  lib/tramway/searchable.rb
Due: rubocop

Update README.md and AGENTS.md
  README.md
  app/components/tramway/chats/message_component.rb
  docs/AGENTS.md
Due: rubocop

Tramway CRUD: fix labels in the forms
  app/views/tramway/entities/_form.html.haml
  spec/features/entities/create_spec.rb
  spec/features/entities/update_spec.rb
Due: rubocop

Replace multiselect input with select(multiple: true)
  app/components/tramway/form/builder.rb
  spec/dummy/app/views/users/new.html.haml
  spec/features/form_for/base_spec.rb
Due: rubocop

Rename multiselect component to tramway_select
  app/components/tramway/form/builder.rb
  app/components/tramway/form/tramway_select_component.html.haml
  app/components/tramway/form/tramway_select_component.rb
Due: rubocop

Rename multiselect to tramway select
  README.md
  app/assets/javascripts/tramway/tramway-select_controller.js
  app/components/tailwind_component.rb
  app/components/tramway/form/builder.rb
  app/components/tramway/form/multiselect/dropdown_container_component.html.haml
  app/components/tramway/form/multiselect/item_container_component.html.haml
  app/components/tramway/form/multiselect/select_as_input_component.html.haml
  app/components/tramway/form/tramway_select/caret_component.html.haml
  app/components/tramway/form/tramway_select/caret_component.rb
  app/components/tramway/form/tramway_select/dropdown_container_component.html.haml
  app/components/tramway/form/tramway_select/dropdown_container_component.rb
  app/components/tramway/form/tramway_select/item_container_component.html.haml
  app/components/tramway/form/tramway_select/item_container_component.rb
  app/components/tramway/form/tramway_select/select_as_input_component.html.haml
  app/components/tramway/form/tramway_select/select_as_input_component.rb
  app/components/tramway/form/tramway_select/selected_item_template_component.html.haml
  app/components/tramway/form/tramway_select/selected_item_template_component.rb
  app/components/tramway/form/tramway_select_component.html.haml
  app/components/tramway/form/tramway_select_component.rb
  config/tailwind.config.js
  docs/AGENTS.md
  lib/generators/tramway/install/install_generator.rb
  lib/tramway/engine.rb
  lib/tramway/utils/field.rb
  spec/dummy/app/assets/config/manifest.js
  spec/dummy/app/javascript/controllers/index.js
  spec/dummy/config/importmap.rb
  spec/features/tramway_select/multiple_spec.rb
  spec/rails_helper.rb
  spec/support/tramway_select_helpers.rb
  spec/tramway/generators/install_generator_spec.rb
Due: rubocop, eslint

Make multiple as option
  app/assets/javascripts/tramway/tramway-select_controller.js
  app/components/tramway/form/builder.rb
  app/components/tramway/form/tramway_select_component.html.haml
  app/components/tramway/form/tramway_select_component.rb
Due: rubocop, eslint

Different style for selected items
  app/components/tramway/form/tramway_select/selected_item_template_component.rb
  app/components/tramway/form/tramway_select_component.html.haml
  app/components/tramway/form/tramway_select_component.rb
Due: rubocop

Implement autocomplete
  app/assets/javascripts/tramway/tramway-select_controller.js
  app/components/tramway/form/tramway_select/autocomplete_input_component.html.haml
  app/components/tramway/form/tramway_select/autocomplete_input_component.rb
  app/components/tramway/form/tramway_select_component.html.haml
  app/components/tramway/form/tramway_select_component.rb
  config/tailwind.config.js
Due: rubocop, eslint

Closing dropdown
  app/assets/javascripts/tramway/tramway-select_controller.js
Due: eslint

Tramway Flash: fix pointer
  app/components/tramway/flash_component.rb
  config/tailwind.config.js
  spec/tramway/helpers/views_helpers/tramway_flash_spec.rb
Due: rubocop, eslint

Bump version to 3.0.0.1
  lib/tramway/version.rb
Due: rubocop

Tests for autocomplete
  app/components/tramway/form/builder.rb
  app/components/tramway/form/tramway_select/autocomplete_input_component.rb
  app/components/tramway/form/tramway_select/selected_item_template_component.rb
  app/components/tramway/form/tramway_select_component.rb
  spec/dummy/app/forms/user_form.rb
  spec/dummy/app/models/user.rb
  spec/dummy/app/views/users/new.html.haml
  spec/features/tramway_select/autocomplete_spec.rb
  spec/support/tramway_select_helpers.rb
Due: rubocop

Update docs
  README.md
  docs/AGENTS.md
Due: none

Fix
  spec/features/tramway_select/autocomplete_spec.rb
Due: rubocop

Updates
  README.md
  app/components/tramway/form/builder.rb
  spec/forms/base_form_spec.rb
  spec/forms/extendable_form_spec.rb
  spec/tramway/helpers/views_helpers/tramway_form_for_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  eslint: any of: *.js
