Repository Purple-Magic/tramway: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

lefthook.yml:

pre-commit:
  commands:
    rubocop:
      tags: backend style
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {all_files}
    eslint:
      tags: frontend style
      glob: "*.js"
      run: make eslint

Align form validations with ActiveModel options
  README.md
  docs/AGENTS.md
  lib/tramway/forms/validations.rb
  spec/dummy/app/forms/admin_form.rb
  spec/dummy/app/forms/user_form.rb
Due: rubocop

Fix failing multiselect and delegation specs
  spec/features/multiselect_input_spec.rb
  spec/forms/base_form_spec.rb
Due: rubocop

Fix multiselect feature expectations
  spec/features/multiselect_input_spec.rb
Due: rubocop

Rubocop fix
  lib/tramway/forms/validations.rb
Due: rubocop

Add form-level validations to Tramway forms (#157)
  README.md
  docs/AGENTS.md
  lib/tramway/base_form.rb
  lib/tramway/forms/validations.rb
  spec/dummy/app/forms/admin_form.rb
  spec/dummy/app/forms/user_form.rb
  spec/features/multiselect_input_spec.rb
  spec/forms/base_form_spec.rb
  spec/forms/validations_form_spec.rb
Due: rubocop

Bump version to 2.2.6
  lib/tramway/version.rb
Due: rubocop

AGENTS.md: Add Rule 27 for enumerated values scope usage
  docs/AGENTS.md
Due: none

Update AGENTS.md
  docs/AGENTS.md
Due: none

Add checkbox support to tramway form builder
  app/components/tailwind_component.rb
  app/components/tailwinds/form/builder.rb
  app/components/tailwinds/form/checkbox_component.html.haml
  app/components/tailwinds/form/checkbox_component.rb
  lib/tramway/utils/field.rb
  spec/components/tailwinds/form/builder_spec.rb
  spec/dummy/app/forms/user_form.rb
  spec/dummy/app/views/users/new.html.haml
  spec/features/form_for/base_spec.rb
Due: rubocop

Round checkbox styling
  app/components/tailwind_component.rb
  spec/components/tailwinds/form/builder_spec.rb
  spec/features/form_for/base_spec.rb
Due: rubocop

Implement checkbox field for tramway_form_for (#158)
  app/components/tailwind_component.rb
  app/components/tailwinds/form/builder.rb
  app/components/tailwinds/form/checkbox_component.html.haml
  app/components/tailwinds/form/checkbox_component.rb
  lib/tramway/utils/field.rb
  spec/components/tailwinds/form/builder_spec.rb
  spec/dummy/app/forms/user_form.rb
  spec/dummy/app/views/users/new.html.haml
  spec/features/form_for/base_spec.rb
Due: rubocop

Update version.rb
  lib/tramway/version.rb
Due: rubocop

Renaming
  app/components/tramway/form/checkbox_component.html.haml
  app/components/tramway/form/date_field_component.html.haml
  app/components/tramway/form/datetime_field_component.html.haml
  app/components/tramway/form/multiselect_component.html.haml
  app/components/tramway/form/multiselect_component.rb
  app/components/tramway/form/number_field_component.html.haml
  app/components/tramway/form/select_component.html.haml
  app/components/tramway/form/text_area_component.html.haml
  app/components/tramway/form/text_field_component.html.haml
  app/components/tramway/table_component.html.haml
  app/views/kaminari/_first_page.html.haml
  app/views/kaminari/_gap.html.haml
  app/views/kaminari/_last_page.html.haml
  app/views/kaminari/_next_page.html.haml
  app/views/kaminari/_page.html.haml
  app/views/kaminari/_prev_page.html.haml
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  gemfiles/rails_8.1.gemfile
  spec/components/tramway/back_button_component_spec.rb
  spec/components/tramway/badge_component_spec.rb
  spec/components/tramway/button_component_spec.rb
  spec/components/tramway/form/builder_spec.rb
  spec/components/tramway/nav/item/button_component_spec.rb
  spec/components/tramway/nav/item/link_component_spec.rb
  spec/components/tramway/navbar_component_spec.rb
  spec/tramway/helpers/views_helpers/tramway_form_for_spec.rb
Due: rubocop

Renaming
  app/components/tramway/badge_component.rb
  app/components/tramway/button_component.rb
  app/components/tramway/colors_methods.rb
  app/components/tramway/flash_component.rb
  app/components/tramway/form/builder.rb
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  gemfiles/rails_8.1.gemfile
  lib/tramway/helpers/navbar_helper.rb
  lib/tramway/helpers/views_helper.rb
  lib/tramway/navbar.rb
  spec/dummy/app/views/users/_user.html.haml
  spec/dummy/app/views/users/index.html.haml
  spec/tramway/helpers/views_helpers/tramway_button_spec.rb
  spec/tramway/helpers/views_helpers/tramway_cell_spec.rb
  spec/tramway/helpers/views_helpers/tramway_row_spec.rb
  spec/tramway/helpers/views_helpers/tramway_table_spec.rb
Due: rubocop

Update README
  README.md
Due: none

Add chat components
  app/components/tramway/chat_component.html.haml
  app/components/tramway/chat_component.rb
  app/components/tramway/chats/message_component.html.haml
  app/components/tramway/chats/message_component.rb
  app/components/tramway/chats/messages/table_component.html.haml
  app/components/tramway/chats/messages/table_component.rb
  config/locales/en.yml
Due: rubocop

Update chat component styles
  app/components/tramway/chat_component.html.haml
  app/components/tramway/chats/message_component.html.haml
  app/components/tramway/chats/messages/table_component.html.haml
  spec/components/tramway/chat_component_spec.rb
  spec/components/tramway/chats/message_component_spec.rb
  spec/components/tramway/chats/messages/table_component_spec.rb
Due: rubocop

Update chat component styles (#160)
  app/components/tramway/chat_component.html.haml
  app/components/tramway/chats/message_component.html.haml
  app/components/tramway/chats/messages/table_component.html.haml
  spec/components/tramway/chat_component_spec.rb
  spec/components/tramway/chats/message_component_spec.rb
  spec/components/tramway/chats/messages/table_component_spec.rb
Due: rubocop

Add chat component classes to Tailwind safelist
  config/tailwind.config.js
Due: eslint

Add chat component classes to Tailwind safelist (#161)
  config/tailwind.config.js
Due: eslint

Update chat component
  app/components/tramway/chat_component.html.haml
  app/components/tramway/chat_component.rb
  app/components/tramway/chats.rb
  app/components/tramway/chats/message_component.html.haml
  app/components/tramway/chats/message_component.rb
  app/components/tramway/chats/messages/container_component.html.haml
  app/components/tramway/chats/messages/container_component.rb
  app/components/tramway/chats/messages/table_component.rb
  app/components/tramway/native_text_component.html.haml
  app/components/tramway/native_text_component.rb
  lib/tramway/helpers/views_helper.rb
Due: rubocop

Updates
  app/components/tramway/chat_component.html.haml
  app/components/tramway/chat_component.rb
  app/components/tramway/chats/message_component.html.haml
  app/components/tramway/chats/message_component.rb
  app/components/tramway/chats/messages/container_component.html.haml
  app/components/tramway/chats/messages/container_component.rb
  config/tailwind.config.js
  lib/tramway/helpers/views_helper.rb
Due: rubocop, eslint

Many updates
  app/components/tramway/chat_component.html.haml
  config/locales/en.yml
  config/tailwind.config.js
Due: eslint

Fix
  app/components/tramway/chat_component.html.haml
Due: none

Made mobile version
  app/components/tramway/chat_component.html.haml
  config/tailwind.config.js
Due: eslint

Fix chat styles
  app/components/tramway/chat_component.html.haml
  config/tailwind.config.js
Due: eslint

Add tramway_chat docs and helper specs
  README.md
  docs/AGENTS.md
  spec/tramway/helpers/views_helpers/tramway_chat_spec.rb
Due: rubocop

Add tramway_chat docs and helper specs (#162)
  README.md
  docs/AGENTS.md
  spec/tramway/helpers/views_helpers/tramway_chat_spec.rb
Due: rubocop

updates
  spec/components/tramway/chat_component_spec.rb
  spec/components/tramway/chats/message_component_spec.rb
  spec/components/tramway/chats/messages/table_component_spec.rb
Due: rubocop

Fix chat component specs
  spec/components/tramway/chat_component_spec.rb
  spec/components/tramway/chats/message_component_spec.rb
  spec/tramway/helpers/views_helpers/tramway_chat_spec.rb
Due: rubocop

Refine chat component specs
  spec/components/tramway/chat_component_spec.rb
  spec/components/tramway/chats/message_component_spec.rb
Due: rubocop

Fix rubocop violations in chat components
  app/components/tramway/chat_component.rb
  app/components/tramway/chats.rb
  app/components/tramway/chats/message_component.rb
  app/components/tramway/chats/messages/container_component.rb
  app/components/tramway/chats/messages/table_component.rb
  app/components/tramway/native_text_component.rb
  spec/components/tramway/chat_component_spec.rb
  spec/components/tramway/chats/message_component_spec.rb
  spec/components/tramway/chats/messages/table_component_spec.rb
Due: rubocop

Fix chat specs: stub turbo_stream_from and supply required message `type` (#163)
  app/components/tramway/chat_component.rb
  app/components/tramway/chats.rb
  app/components/tramway/chats/message_component.rb
  app/components/tramway/chats/messages/container_component.rb
  app/components/tramway/chats/messages/table_component.rb
  app/components/tramway/native_text_component.rb
  spec/components/tramway/chat_component_spec.rb
  spec/components/tramway/chats/message_component_spec.rb
  spec/components/tramway/chats/messages/table_component_spec.rb
  spec/tramway/helpers/views_helpers/tramway_chat_spec.rb
Due: rubocop

Rubocop fix
  app/components/tramway/chats/message_component.rb
Due: rubocop

Rubocop fixes
  spec/components/tramway/chat_component_spec.rb
  spec/components/tramway/chats/message_component_spec.rb
  spec/components/tramway/chats/messages/table_component_spec.rb
Due: rubocop

Fix chat component specs (#165)
  spec/components/tramway/chat_component_spec.rb
  spec/components/tramway/chats/message_component_spec.rb
  spec/tramway/helpers/views_helpers/tramway_chat_spec.rb
Due: rubocop
