Repository Purple-Magic/tramway: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

rubocop:
  tags: backend style
  run: bundle exec rubocop --force-exclusion {all_files}

eslint:
  tags: frontend style
  run: make eslint

Fix chat input clearing timing after submit
  app/components/tramway/chat_component.html.haml
Due: none

Clear Tramway chat input after submit (#174)
  app/components/tramway/chat_component.html.haml
Due: none

Fix
  app/components/tramway/native_text_component.rb
  config/tailwind.config.js
Due: rubocop, eslint

Add markdown rendering support to native text component
  app/components/tramway/native_text_component.html.haml
  app/components/tramway/native_text_component.rb
  spec/components/tramway/native_text_component_spec.rb
Due: rubocop

Style markdown headers in native text component
  app/components/tramway/native_text_component.rb
  spec/components/tramway/native_text_component_spec.rb
Due: rubocop

Fix markdown bold/italic to render as HTML
  app/components/tramway/native_text_component.rb
Due: rubocop

Add markdown rendering to NativeTextComponent (#175)
  app/components/tramway/native_text_component.html.haml
  app/components/tramway/native_text_component.rb
  spec/components/tramway/native_text_component_spec.rb
Due: rubocop

Make good style for lists
  app/components/tramway/native_text_component.rb
  config/tailwind.config.js
Due: rubocop, eslint

Fix NativeText markdown headers at text start
  app/components/tramway/native_text_component.rb
  spec/components/tramway/native_text_component_spec.rb
Due: rubocop

Handle serialized newline text in NativeText markdown parsing
  app/components/tramway/native_text_component.rb
  spec/components/tramway/native_text_component_spec.rb
Due: rubocop

Fix NativeText parsing for quoted payload with surrounding whitespace
  app/components/tramway/native_text_component.rb
  spec/components/tramway/native_text_component_spec.rb
Due: rubocop

Add chat feature and markdown broadcast test coverage
  spec/components/tramway/chat_component_spec.rb
  spec/components/tramway/native_text_component_spec.rb
  spec/dummy/app/controllers/chats_controller.rb
  spec/dummy/app/views/chats/show.html.haml
  spec/dummy/config/routes.rb
  spec/features/chat/component_spec.rb
  spec/tramway/chats/broadcast_spec.rb
Due: rubocop

Fix flaky chat and broadcast specs
  spec/components/tramway/chat_component_spec.rb
  spec/components/tramway/chats/message_component_spec.rb
  spec/dummy/config/routes.rb
  spec/features/chat/component_spec.rb
  spec/tramway/chats/broadcast_spec.rb
Due: rubocop

Fix chat specs for inline_svg and feature rendering
  spec/components/tramway/chat_component_spec.rb
  spec/dummy/app/views/chats/show.html.haml
Due: rubocop

Fix chat component spec inline_svg stub target
  spec/components/tramway/chat_component_spec.rb
Due: rubocop

Add feature and test coverage for chat component, markdown, and broadcasts (#177)
  spec/components/tramway/chat_component_spec.rb
  spec/components/tramway/chats/message_component_spec.rb
  spec/components/tramway/native_text_component_spec.rb
  spec/dummy/app/controllers/chats_controller.rb
  spec/dummy/app/views/chats/show.html.haml
  spec/dummy/config/routes.rb
  spec/features/chat/component_spec.rb
  spec/tramway/chats/broadcast_spec.rb
Due: rubocop

Rubocop fixes
  app/components/tramway/native_text_component.rb
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  gemfiles/rails_8.1.gemfile
  lib/tramway/chats/broadcast.rb
  spec/components/tramway/chat_component_spec.rb
  spec/tramway/chats/broadcast_spec.rb
Due: rubocop

Add safety comments for html_safe usages in NativeTextComponent
  app/components/tramway/native_text_component.rb
Due: rubocop

Add safety comments for html_safe usages in NativeTextComponent (#178)
  app/components/tramway/native_text_component.rb
Due: rubocop

Fix rubocop
  app/components/tramway/native_text_component.rb
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  gemfiles/rails_8.1.gemfile
Due: rubocop

Fix broadcast spec Turbo::StreamsChannel stubbing
  spec/tramway/chats/broadcast_spec.rb
Due: rubocop

Fix broadcast spec Turbo::StreamsChannel stubbing (#179)
  spec/tramway/chats/broadcast_spec.rb
Due: rubocop

Rubocop fix
  spec/tramway/chats/broadcast_spec.rb
Due: rubocop

Upgrade Tramway Chat (#180)
  README.md
  app/components/tramway/chat_component.html.haml
  app/components/tramway/native_text_component.html.haml
  app/components/tramway/native_text_component.rb
  app/views/tramway/chats/_message.html.haml
  config/tailwind.config.js
  docs/AGENTS.md
  lib/tramway.rb
  lib/tramway/chats/broadcast.rb
  lib/tramway/engine.rb
  spec/components/tramway/chat_component_spec.rb
  spec/components/tramway/chats/message_component_spec.rb
  spec/components/tramway/native_text_component_spec.rb
  spec/dummy/app/controllers/chats_controller.rb
  spec/dummy/app/views/chats/show.html.haml
  spec/dummy/config/routes.rb
  spec/features/chat/component_spec.rb
  spec/tramway/chats/broadcast_spec.rb
Due: rubocop, eslint

Release 2.3.1
  lib/tramway/version.rb
Due: rubocop

Fix Tramway Chat
  app/components/tramway/chat_component.html.haml
  lib/tramway/helpers/views_helper.rb
  lib/tramway/version.rb
Due: rubocop

Document send_messages_enabled option for Tramway Chat
  README.md
  docs/AGENTS.md
Due: none

Document send_messages_enabled option for Tramway Chat (#181)
  README.md
  docs/AGENTS.md
Due: none

Fix
  app/components/tramway/chats/message_component.html.haml
Due: none

Update version.rb
  lib/tramway/version.rb
Due: rubocop

AGENTS.md: add Rule 33
  docs/AGENTS.md
Due: none

Update AGENTS.md
  docs/AGENTS.md
Due: none

AGENTS.md: update Rule 23
  docs/AGENTS.md
Due: none

Add dry-monads to Tramway install generator dependencies
  README.md
  lib/generators/tramway/install/install_generator.rb
  spec/tramway/generators/install_generator_spec.rb
Due: rubocop

Add dry-monads to Tramway install generator dependencies (#182)
  README.md
  lib/generators/tramway/install/install_generator.rb
  spec/tramway/generators/install_generator_spec.rb
Due: rubocop

Add seed logging for clients and orders
  db/seeds.rb
Due: rubocop

Fix tramway install AGENTS marker duplication
  lib/generators/tramway/install/install_generator.rb
  spec/tramway/generators/install_generator_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  eslint: any of: *.js
